<div class="space4" id="space4">
    <div class="container">
        <div class="wrap-text1">
            <h3 class="animate__infinite infinite animate__animated animate__pulse">IT START ЭТО ... </h3>
        </div>

        <div class="wrap-img">

            <div class="sky-1 sky">
              
                <img id="sc1" src="../../assets/sky/1.png" alt="">
                <p>Будущее</p>
            </div>
            <div class="sky-2 sky">
                <img id="sc5" class="animate__infinite infinite animate__animated  animate__pulse"
                    src="../../assets/sky/text.png" alt="">
            </div>
            <div class="sky-3 sky">                
                <img id="sc2" src="../../assets/sky/2.png" alt="">
                <p>Карьера </p>
            </div>

        </div>



        <div class="text-sky">

            <img id="sc6" [class.selected]="select === true" src="../../assets/sky/plane.png" alt="">
        </div>
        <div class="wrap-img">
            <div class="sky-4  sky">
                <img id="sc3" src="../../assets/sky/3.png" alt="">
                <p>Образование </p>
            </div>
            <div class="sky-5  sky">
                <img id="sc4" src="../../assets/sky/4.png" alt="">
                <p>Знания </p>
            </div>
        </div>
        <div class="wrap-text">
            <h3 class="animate__infinite infinite animate__animated animate__pulse">Выбери город </h3>
            <a routerLink="/city" class="btn-floating btn-large green  darcen-4 pulse">
                <i class="large material-icons">arrow_downward</i>
            </a>
        </div>


    </div>
</div>