img{width: 100%;}
.container{
    width: calc(320px + (1920 - 320)*((100vw - 320px)/(1920 - 320))) !important;
    margin:  0 auto;
    padding: calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320))) !important;
}
#sc1{
    max-width: 459px;
    width: calc(50px + (459 - 50)*((100vw - 320px)/(1920 - 320)));
    height:calc(30px + (245 - 30)*((100vw - 320px)/(1920 - 320))); ;
    margin-top: calc(30px + (150 - 30)*((100vw - 320px)/(1920 - 320)));
}
#sc2{
    max-width: 212px;
    width: calc(50px + (212 - 50)*((100vw - 320px)/(1920 - 320)));
    height:calc(30px + (119 - 30)*((100vw - 320px)/(1920 - 320))); 
    float: right;
    margin-top: calc(10px + (150 - 10)*((100vw - 320px)/(1920 - 320)));
}
#sc3{
    max-width: 589px;
    width: calc(70px + (589 - 70)*((100vw - 320px)/(1920 - 320)));

    float: left;
    margin-top: 15%;
}
#sc4{
    max-width: 375px;
    width: calc(50px + (375 - 50)*((100vw - 320px)/(1920 - 320)));
    float: right;
    margin-top: calc(10px + (250 - 10)*((100vw - 320px)/(1920 - 320)));
}
#sc5{
    max-width: 375px;
    width: calc(50px + (375 - 50)*((100vw - 320px)/(1920 - 320)));
    /* margin-top: calc(10px + (50 - 10)*((100vw - 320px)/(1920 - 320))); */
    position: relative;
    top:calc(10px + (350 - 10)*((100vw - 320px)/(1920 - 320)));
}
.wrap-img{
    display: flex;
    justify-content: space-between;
}
/* .text-sky{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    top:0
} */

#sc6{
    max-width: 425px;
    position: absolute;
    width: calc(80px + (425 - 80)*((100vw - 320px)/(1920 - 320)));
    top: calc(150px + (150 - 150)*((100vw - 320px)/(1920 - 320)));
    z-index: 99;
    transition: all 3s;
    left: -900px;
}
#sc6.selected{
    left: 70% ;
}

.wrap-text1{
    position: absolute;
    text-align: center;
    width: 100%;
    top:20px;
    -webkit-text-stroke: 2px rgb(5, 83, 11);
    color: rgb(206, 241, 6);
  
    z-index: 999;
}
.wrap-text h3, .wrap-text1 h3{
    font-size:calc(30px + (50 - 30)*((100vw - 320px)/(1920 - 320)));
    -webkit-text-stroke: 2px rgb(5, 83, 11);
    color: rgb(206, 241, 6);
   }
#space4{
    display: flex;
    align-items: center;
    
}
