<div *ngIf="categories$ | async as categories; else loader">
   <div class=" collection frow order-row" *ngIf="categories$.leangth !== 0; else empty">
        <div
            *ngFor="let category of categories"
            class="collection-item"
            [routerLink]="['/admin/order',category._id]"
            >
            <div class="">
                <h5 class="m0">{{category.name}}</h5>
            </div>
        </div>
    </div>
    <ng-template #empty>
        <h1 class="center">Заказов нет ! </h1>
    </ng-template>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>