<div class="city" id="city">
  <a id="positions" [routerLink]="['/city']" class="btn-floating pulse btn-large waves-effect waves-light teal">
    <i class="material-icons">arrow_downward</i>
  </a>
  <div class="container">
    <h3 class="center heading" *ngIf="positionFind.length > 0;">Выбери курс своей мечты </h3>
    <div class="row building" [style.marginLeft] = 'move + "px"' 
         *ngIf="positions$ |async as positions; else loader"
          [class.not]="positionFind.length === 0"
        >
      <div *ngIf="positionFind.length === 0; else normal">
        <div class="not-found-course">
          <h1 class="center ">В этом городе нет курсов.</h1>
          <h1 class="center ">Ждите, скоро откроемся.</h1>
        </div>
      </div>
      <ng-template #normal>
        <div class="col s3 l3 jn">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 7 - 12 лет</h3>
          </div>
          <img id="gl-jn" src="../../assets/city/gelicopter.png" loading="lazy" alt="1">
          <a [routerLink]="[positions[0]._id]"  class="btn-floating arrow green darcen-4 pulse">
            <i class="large material-icons">arrow_downward</i>
          </a>
          <a [routerLink]="[positions[0]._id]">
            <img id="jn" src="../../assets/city/jn.png" alt="">
          </a>

        </div>
        <div class="col s3 l3 ev">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 12 - 18 лет</h3>
          </div>
          <a [routerLink]="[positions[1]._id]" class="btn-floating arrow yellow darcen-4 pulse">
            <i class="large material-icons">arrow_downward</i>
          </a>
          <a [routerLink]="[positions[1]._id]">
            <img id="ev" src="../../assets/city/ev.png"  loading="lazy" alt="2">
          </a>
        </div>
        <div class="col s3 l3 sn">
          <img id="gl-sn" src="../../assets/city/gelicopter_1.png" loading="lazy" alt="3">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 40 - 75 лет</h3>
          </div>
          <!-- <a [routerLink]="[positions[2]._id]" class="btn-floating arrow teal darcen-4 pulse">
            <i class="large material-icons">arrow_downward</i>
          </a> -->
          <!-- <a [routerLink]="[positions[2]._id]"> -->
            <img id="sn" src="../../assets/city/sn.png" loading="lazy" alt="4">
          <!-- </a> -->
        </div>
        <div class="col s3 l3 in">
          <img id="gl-in" src="../../assets/city/gelicopter.png" loading="lazy" alt="6">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 6 - 60 лет</h3>
          </div>
          <a [routerLink]="[positions[3]._id]" class="btn-floating arrow orange darcen-4 pulse">
            <i class="large material-icons">arrow_downward</i>
          </a>
          <a [routerLink]="[positions[3]._id]">
            <img id="in" src="../../assets/city/in.png"  loading="lazy" alt="8">
          </a>
        </div>
      </ng-template>
    </div>


    <ng-template #loader>
      <div class="row building">
        <div class="col s3 l3 jn">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 7 - 12 лет</h3>
          </div>
          <img id="gl-jn" src="../../assets/city/gelicopter.png" alt="">


          <img id="jn" src="../../assets/city/jn.png" alt="">


        </div>
        <div class="col s3 l3 ev">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 12 - 18 лет</h3>
          </div>


          <img id="ev" src="../../assets/city/ev.png" alt="">

        </div>
        <div class="col s3 l3 sn">
          <img id="gl-sn" src="../../assets/city/gelicopter_1.png" alt="">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 40 - 75 лет</h3>
          </div>


          <img id="sn" src="../../assets/city/sn.png" alt="">

        </div>
        <div class="col s3 l3 in">
          <img id="gl-in" src="../../assets/city/gelicopter.png" alt="">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 6 - 60 лет</h3>
          </div>

          <img id="in" src="../../assets/city/in.png" alt="">

        </div>
      </div>
    </ng-template>
    <div class="row road" [class.not]="positionFind.length === 0">
      <button id='left-nav' (click)="moveLeft(move)" [disabled]='leftMove == true' class="btn-floating arrow-nav green darcen-4 pulse">
        <i class="large material-icons">chevron_left</i>
      </button>
      <button (click)="moveRight(move)" [disabled]='rightMove == true'  id='right-nav' class="btn-floating arrow-nav green darcen-4 pulse">
        <i class="large material-icons">chevron_right</i>
      </button>
      <img src="../../assets/city/doroga_1.png" alt="">
    </div>
  </div>

</div>