<div class="city" id="city">
  <a id="positions" [routerLink]="['/city']" class="btn-floating pulse btn-large waves-effect waves-light teal">
    <i class="material-icons">navigation</i>
  </a>
  <div class="container">
    <h3 class="center heading" *ngIf="positionFind.length > 0;">Выбери курс своей мечты </h3>
    <div class="row building" 
          [class.selected]="positionFind.length === 0"
       *ngIf="positions$ |async as positions;else loader">
      <div *ngIf="positionFind.length === 0; else normal">
        <div class="not-found-course">
          <h1 class="center ">В этом городе нет курсов.</h1>
          <h1 class="center ">Ждите, скоро откроемся.</h1>
        </div>
      </div>
      <ng-template #normal>
        <div class="col s3 l3 jn">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 7 - 12 лет</h3>
          </div>
          <img id="gl-jn" src="../../assets/city/gelicopter.png" alt="">
      
          <a [routerLink]="[positions[0]._id]">   
            <img id="jn" src="../../assets/city/jn.png" alt="">
          </a>

        </div>
        <div class="col s3 l3 ev">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 12 - 18 лет</h3>
          </div>

          <a [routerLink]="[positions[1]._id]">
            <img id="ev" src="../../assets/city/ev.png" alt="">
          </a>
        </div>
        <div class="col s3 l3 sn">
          <img id="gl-sn" src="../../assets/city/gelicopter_1.png" alt="">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 40 - 75 лет</h3>
          </div>
       
          <a [routerLink]="[positions[2]._id]">
            <img id="sn" src="../../assets/city/sn.png" alt="">
          </a>
        </div>
        <div class="col s3 l3 in">
          <img id="gl-in" src="../../assets/city/gelicopter.png" alt="">
          <div class="age animate__infinite 	infinite animate__animated animate__pulse">
            <h3 class="center"> 6 - 60  лет</h3>
          </div>
          <a [routerLink]="[positions[3]._id]">
            <img id="in" src="../../assets/city/in.png" alt="">
          </a>
        </div>
      </ng-template>
    </div>
    <div class="row road">
      <img src="../../assets/city/doroga_1.png" alt="">
    </div>

    <ng-template #loader>
      <div class="row">
        <div class="col s12 center">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>

</div>