
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
img{
    display: block;
    margin: 0 auto;
}
#quiz-index{
    /* background: url("../../../assets/quiz/bg-main.png") center no-repeat;
    background-size: cover; */
    background: linear-gradient(90deg, rgba(9,164,88,1) 0%, rgba(74,92,161,1) 55%, rgb(116 59 152) 100%);

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

}


#quiz-index .wrap-content{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 100px;
}
#rocket{
    position:absolute;
    width: 70px;
    left: 10px;
    z-index: 0;
    margin-top: -160px;
}
#quiz-index .wrap-content h1{
    font-size: 30px;
    position: relative;
    z-index: 5;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Conv_evo_1';
    line-height: 45px;
}
#people{
    width: 250px;
}
.go-to{
    display: block;
    width: 80%;
    margin: 50px auto;
    background: linear-gradient(90deg, rgba(9,164,88,1) 0%, rgba(74,92,161,1) 55%, rgb(116 59 152) 100%);
    font-family: 'Montserrat', sans-serif;
}