Договір публічної оферти
Приймаючи цю публічну оферту, Ви погоджуєтесь зі всіма викладеними нижче умовами і підтверджуєте, що Вам зрозумілі всі її положення та укладаєте на цих умовах договір про надання послуг з «IT START SCHOOL». 

                               ПУБЛІЧНА ОФЕРТA

«IT START SCHOOL» (далі – за текстом Виконавець) пропонує фізичним та юридичним особам (далі – Користувач) (разом у тексті – Сторони, окремо Сторона) приєднатися до цього договору публічної оферти про надання послуг (далі – Договір) на визначених у ньому умовах та відповідно до обраного переліку послуг. Акцептування даної Публічної пропозиції здійснюється шляхом подання Заяви-анкети на приєднання до Договору. Приєднанням до цього Договору також вважатимуться конклюдентні дії:  оплата рахунку чи використання онлайн платіжного засобу для оплати за  курси та/або готівкова оплата за  наданий навчальний матеріал курсів. У разі незгоди з умовами цього Договору укладення договору приєднання не є можливим.

                            1. ВИЗНАЧЕННЯ ПОНЯТЬ
1.1.Навчальна програма – це послідовність тем, завдань, задач, проектів з вивчення програмування та суміжних предметів. В процесі проведення навчальних занять Навчальна програма може змінюватися та коригуватися.
1.2.Навчально-методичні матеріали (надалі – НММ) – це розробленні задачі, завдання, проекти, тести, графічні, відео і текстові матеріали, відеоуроки тощо, у паперовій чи електронній формі для успішного засвоєння Користувачем Навчальної програми  «ІТ START».
1.3.Навчальний Курс (Курс) – це підбір НММ по вивченню  мови програмування.  Вивчення навчального курсу завершується підготовкою власного портфоліо.
1.4.Навчальний модуль (Модуль) – це логічно завершена частина Курсу. Вивчення навчального модулю завершується заліком.
1.5.Навчальний місяць – 9 занять (тривалість одного – 1-2 години).
1.6.Навчальний квартал – три Навчальні місяці.
1.7.Навчальний семестр – половина Навчального року.
1.8.Навчальний рік – 12 Навчальних місяців. По завершенню Навчального року Користувач здає екзамен.
1.9.Місячний пакет навчально-методичних матеріалів - це кількість НММ, які Користувач може опрацювати і освоїти протягом Навчального місяця.
1.10. Особистий кабінет – обліковий запис Користувача на Платформі, який адмініструється Виконавцем і через який Користувач отримує доступ до НММ, домашніх завданнь  іншу необхідну для виконання договору інформацію.

                                 2. ПРЕДМЕТ ДОГОВОРУ

2.1 Виконавець зобов'язується надати Користувачу послуги, зміст яких полягає в доступі Користувача до навчально-методичних матеріалів, що допоможуть йому засвоїти програмування, розробку ігор на Unity та фронтенд розробку по навчальній програмі  «ІТ START», особистого кабінету Платформи, протягом Навчального року надавати Користувачу інструктажі та консультації з виконання типових задач, завдань, проектів з програмування в обсязі дві - чотири години на тиждень,  здійснювати перевірку і оцінювання виконаних Користувачем завдань, аналіз і виправлення помилок. 
2.2.Користувач – прийняти і оплатити послуги на умовах, визначених в цій оферті.

                   3. ПОРЯДОК УКЛАДЕННЯ ДОГОВОРУ

3.1 Цей Договір укладається на умовах договору приєднання (ст. 634 Цивільного кодексу України) та вважається укладеним з моменту прийняття публічної оферти.
3.2 Приймаючи публічну оферту на укладення такого Договору, Користувач підтверджує, що він повністю приймає його умови.
3.3 Користувач приймає (акцептує) оферту шляхом:  подання Заяви-анкети на приєднання до Договору та/або здійснення конклюдентних дій - оплати вибраного Курсу на умовах, зазначених у §4 цього Договору. Письмова форма цього Договору згідно ЗУ «Про електронну комерцію» додатково може підтверджуватися направленням електронного листа.


             4. ЦІНА ПОСЛУГ ТА ПОРЯДОК РОЗРАХУНКІВ

4.1 Ціна визначається та застосовується відповідно до обраного Користувачем Курсу, яка вказується на відповідній вебсторінці Курсу та (або) соцмережах чи рекламних матеріалах.
4.2 .Оплату Користувач вносить як передоплату, або на першому занятті Навчального місяця, кварталу семестру чи року.
4.3.Користувач може вибирати - оплачувати готівкою, на рахунок вказаний Виконавцем, чи використавши систему електронних платежів.
4.4. Оплата послуг здійснюється у національній валюті України.
4.5. Після повної або часткової оплати кошти не повертаються. У випадку, якщо Користувач сплатив бронь курсу (якщо це передбачалося умовами оплати), що є частиною оплати за курс і не здійснив решти оплати, сума такого забезпечувального платежу не повертається Користувачеві.
4.5 Користувач не може вимагати зниження вартості послуг чи повернення коштів, у випадку, якщо він не скористався послугами. Моментом виконання надання послуг вважається передача Користувачу НММ у паперовій, електронній або усній формі.

         5. ПОРЯДОК ТА ТЕРМІНИ НАДАННЯ ПОСЛУГ

5.1 Послуги надаються  шляхом надання Користувачеві задач, завданнь, проектів, тестів, графічних, відео і текстових матеріалів, відеоуроки тощо, у паперовій,  електронній чи усній формі, доступу до Особистого кабінету, який адмініструється Виконавцем на Платформі протягом строку дії цього договору (дванадцять місяців),
5.2 Дата початку (набору) Курсу зазначаються на вебсайті Платформи, рекламних матеріалах, соціальних мережах або усній домовленості між сторонами. 
5.3 Виконавець не несе відповідальність, якщо Користувач пропустив семінар, вебінар, інші елементи Курсу, розраховані на їх засвоєння Користувачем.
5.4 Моментом виконання надання послуг вважається передача навчально-методичних матеріалів  Користувачу у паперовій,  електронній чи усній формі, доступу до Особистого кабінету, який адмініструється Виконавцем на Платформі. Користувач споживає послуги шляхом засвоєння таперегляду НММ наданих Виконавцем. Усі Навчально-методичні матеріали є авторськими та суб'єктивними.


                                    6. ОБОВ'ЯЗКИ СТОРІН

6.1.Обов'язки ВИКОНАВЦЯ:
6.1.1 Надати Користувачеві послуги відповідно до умов цієї оферти.
6.1.2 Передати Користувачеві пароль і логін до Особистого кабінету Платформи .
6.1.3 Надавати Користувачеві онлайн підтримку через чат, який буде створено (вайбер, телеграм або інший канал зв'язку на вибір Виконавця). Онлайн підтримка може виявлятися у формі консультацій щодо того як користуватися функціоналом Платформи, щодо онлайн вебінарів (фідбек сесій), які можуть надаватися у рамках Курсу чи інших труднощів, які можуть виникнути у Користувача впродовж дії Договору.

6.2 Обов'язки КОРИСТУВАЧА:
6.2.1 Прийняти та оплатити послуги відповідно до умов цієї оферти.
6.2.2 Споживати послуги особисто, не передавати доступ до Курсу, Навчально-методичних матеріалів будь-яким третім особам, не копіювати та іншим чином не відтворювати НММ. У разі порушення цієї умови Виконавець має право розірвати договір в односторонньому порядку, а Користувач зобов'язується сплатити штраф у розмірі 300% вартості Курсу.

                       7. ПРАВА ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ

7.1 Усі права на веб-сайт належать Виконавцеві.
7.2 Права інтелектуальної власності на Навчально-методичі матеріали, використані в Платформі, зокрема, але не виключно, зображення, відео, логотипи, графіка, звуки, належать Виконавцю.
7.3 Виконавець також використовує об'єкти права інтелектуальної власності, що можуть належати іншим особам, на підставі відповідної ліцензії, договору чи іншої законної підстави.
7.4 Виконавець надає Користувачеві обмежену, невиключну, відкличну і без права субліцензування ліцензію на доступ до Платформи та використання Навчально-методичних матеріалів.
7.5 Надаючи право на використання Користувачем об'єктів права використовувати для цілей виконання цього Договору, Виконавець не передає будь-яких прав інтелектуальної власності на такі об'єкти та не надає дозволу на їх використання в цілях інших, ніж визначені Договором.




                               8. ВІДПОВІДАЛЬНІСТЬ СТОРІН

8.1 У випадку порушення умов оплати послуг Виконавець має право розірвати договір в односторонньому порядку та обмежити доступ до Платформи та Навчально-методичних матеріалів.
8.2 Виконавець може односторонньо розірвати цей Договір та заблокувати доступ до Навчально-методичних матеріалів та Платформи у випадку:
- виявлення поширення (чи будь-якого відтворення) НММ публічно та (або) передання доступу до Платформи третім особам, які не є Стороною Договору.
8.3. У випадку виявлення Виконавцем порушень передбачених п. 8.2. цього Договору, Користувач зобов'язується сплатити штраф у розмірі 300% вартості Курсу. Порушення можуть бути зафіксовані скрінами екранів, програмними засобами чи фактами доступу до Платформи третіх осіб чи будь-яким іншим розумним засобами.


                                       9. ВИРІШЕННЯ СПОРІВ

9.1 В разі виникнення спорів Сторони вживатимуть заходи досудового врегулювання спорів.


                                      10. СТРОК ДІЇ ДОГОВОРУ

10.1 Договір діє до моменту спливу 12 (дванадцяти) місяців від дня початку Курсу відповідно до Програми Курсу . Доступ до Платформи та Навчально-методичних матеріалів надається лише на термін дії Договору. У випадку, якщо Користувач не скористався послугами протягом цього терміну з особистих причин, термін дії Договору не продовжується.
10.2 Виконавець має право в односторонньому порядку розірвати цей Договір у випадку:
10.2.1 невиконання Стороною своїх обов'язків за цим Договором;
10.2.2 у випадках передбачених розділом цього Договору.



                                        11. ІНШІ УМОВИ

11.1 Приєднуючись до цього Договору Користувач надає Виконавцеві право на збирання, обробку та зберігання своїх персональних даних відповідно до Політики конфіденційності.
11.2 Виконавець може змінити умови цього Договору в односторонньому порядку з попереднім повідомленням про це Користувача. У випадку незгоди зі зміненими умовами Користувач має право розірвати Договір в односторонньому порядку
11.3 Якщо інше не передбачено цією офертою, застосовуються звичайні договірні умови, встановлені законодавством.
