#quiz{
    background: url('../../../assets/quiz/bg-quiz.png') center no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position-x: 0;
    display: flex;
    
}
.wrap-quiz-container{
   width: 300px;
    margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
}

.wrap-quiz-container > *{
    width: 100%;
}

.wrap-quiz-container h1{
    font-size: 30px;
    background: #c6e0ff;
    border-radius: 10px;
    padding: 15px 0 15px 0;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Conv_evo_1';
}

.wrap-quiz-container h3{
    background: #c6e0ff;
    border-radius: 10px;
    padding: 15px 0 15px 0;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Conv_evo_1';
}
.block{
    background: #c6e0ff;
    border-radius: 10px;
    padding: 15px;
}
.wrap-quiz-container h3{
    font-size: 20px;
}
.circle-item{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
}

.btn{
    width: 100%;
}