<div id="quiz" [class.reg]='questionOn == false'>
    <div class="wrap-quiz-container">
        <div class="register" *ngIf="questionOn == false">
            <h1 class="center">В якому місті ви знаходитесь?</h1>
            <select class="browser-default" [(ngModel)]="city">
                <option value="" disabled selected>Обери своє місто</option>
                <option value="Харьков">Харків</option>
                <option value="Ахтырка">Охтирка</option>
                <option value="Мерефа">Мерефа</option>
                <option value="Лубны">Лубни</option>
                <option value="Изюм">Ізюм</option>
                <option value="Чугуев">Чугуїв</option>
                <option value="Бахмут">Бахмут</option>
                <option value="Первомайский">Первомайський</option>
                <option value="Прилуки">Прилуки</option>
                <option value="Покровск">Покровск</option>
            </select>
            <select *ngIf="city === 'Ахтырка'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="1">Школа №1</option>
                <option value="2">Школа №2</option>
                <option value="3">Школа №3</option>
                <option value="4">Школа №4</option>
                <option value="5">Школа №5</option>
                <option value="6">Школа №6</option>
                <option value="7">Школа №8</option>
                <option value="8">Школа №9</option>
                <option value="9">Гімназія</option>
            </select>
            <select *ngIf="city === 'Мерефа'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="1">Школа №1</option>
                <option value="2">Школа №2</option>
                <option value="3">Школа №3</option>
                <option value="4">Школа №4</option>
                <option value="5">Школа №5</option>
                <option value="6">Школа №6</option>
                <option value="7">Школа №8</option>
                <option value="8">Школа №9</option>
                <option value="9">Гімназія</option>
            </select>
            <select *ngIf="city === 'Харьков'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Лубны'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Изюм'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Чугуев'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Бахмут'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Первомайский'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Школа №1</option>
                <option value="Ахтырка">Школа №2</option>
                <option value="Полтава">Школа №3</option>
                <option value="Лубны">Школа №4</option>
                <option value="Изюм">Школа №5</option>
                <option value="Чугуев">Школа №6</option>
                <option value="Бахмут">Школа №8</option>
                <option value="Первомайский">Школа №9</option>
                <option value="Прилуки">Гімназія</option>
            </select>
            <select *ngIf="city === 'Прилуки'" class="browser-default" [(ngModel)]="school">
                <option value="" disabled selected>Обери свою школу</option>
                <option value="Харьков">Гімназія № 1</option>
                <option value="Ахтырка">ЗОШ №2</option>
                <option value="Полтава">ЗОШ №3</option>
                <option value="Изюм">Гімназія № 5</option>
                <option value="Первомайский">ЗОШ №9</option>
                <option value="Первомайский">ЗОШ №12</option>
                <option value="Первомайский">ЗОШ №13</option>
                <option value="Первомайский">ЗОШ №14</option>
                <option value="Первомайский">ЗОШ №15</option>
            </select>
            <h3 class="center">Обери свій вік</h3>
            <div class="wrap-btn">
                <button class="btn" [class.green]="course == 'junior'" (click)='juniorSelect(course)'>6-8</button>
                <button class="btn" [class.green]="course == 'junior2'" (click)='junior2Select(course)'>9-12</button>
                <button class="btn" [class.green]="course == 'evo'" (click)='evoSelect(course)'>13-15</button>
                <button class="btn" [class.green]="course == 'evo2'" (click)='evo2Select(course)'>16-18</button>
            </div>



            <button id="go-test" class="btn green" [disabled]='course == "" || city == "" || school == ""' (click)="goTest()">Перейти до
                тесту</button>

        </div>
        <div class="wrap-qustions " *ngIf="questionOn == true && rezult == false && regForm == false">
            <div class="wrap-q">
                <img id="q" src="../../../assets/quiz/111.png" alt="1">
                <img id="q2" src="../../../assets/quiz/222.png" alt="1">
                <img id="q3"src="../../../assets/quiz/111.png" alt="1">
                <img id="q4"src="../../../assets/quiz/222.png" alt="1">
                <img id="q5" src="../../../assets/quiz/111.png" alt="1">
                <img id="q6" src="../../../assets/quiz/222.png" alt="1">
            </div>         
            <div class="questions">
                <p class="center red-text animate__animated animate__tada" *ngIf="quizCouter >= 2 && quizCouter<=3">так тримати</p>
                <p class="center yellow-text animate__animated animate__tada" *ngIf="quizCouter >= 4 && quizCouter < 7">цікаво, що буде за результат</p>
                <p class="center red-text animate__animated animate__tada" *ngIf="quizCouter >= 7">молодець, залишилося ще трохы</p>
                <div class="progress green darken-4">
                    <div class="determinate green accent-4"  [style.width] = 'quizCouter*10 + "%"'></div>
                </div>
                <h1 class="center">{{quizzes[quizCouter].question}}</h1>                    
            </div>
            <div class="block">
                <ul class="collection">
                    <li class="collection-item" *ngFor="let  quiz of quizzes[quizCouter].answer;index as i">
                        <p>
                            <label> 
                                <input class="with-gap" name="group3"  type="radio" (change)="onAnswer(quiz.correct)" />
                                <span>{{quiz.option}}</span>
                            </label>
                        </p>
                    </li>
                </ul>
                <button [disabled]="answerSelected" *ngIf="quizCouter<9" class="btn green"
                    (click)="nextQuiz()">Далі</button>
                <button [disabled]="answerSelected" *ngIf="quizCouter==9" class="btn green"
                    (click)="rezultQuiz()">Результат</button>
            </div>
        </div>
        <div id="rezult" *ngIf='rezult'>
            <div class="wrap-content">    
                <!-- <div class="video">
                    <video src="../../../assets/video/snow.mp4" controls autoplay></video>
                </div> -->
                
                <div class="rez">
                    <h5>Ваш результат:</h5>
                    <img src="../../../assets/quiz/rez.png" id="rez" loading="lazy" alt="logo">
                    <h1 *ngIf="course == 'junior' || course == 'junior2' " class="center">розробник Ігор на unity 3d</h1>
                    <h1 *ngIf="course == 'evo' || course == 'evo2' " class="center">Розробник web сайтів та мобільних додатків</h1>
                </div>
                <div id="prof" *ngIf="course == 'junior' || course == 'junior2' ">
                    <p>Це програміст, який спеціалізується на створенні комп'ютерних ігор (відеоігор).</p>
                </div>
                <div id="prof" class="evo" *ngIf="course == 'evo'  || course == 'evo2' ">
                    <p>Це програміст, який спеціалізується на створенні сайтів та мобільних додатків.</p>
                </div>
                 <div class="podarok">
                    <h4>Отримай безкоштовний подарунок за проходження тесту</h4>
                    <img id='pod' (click)="regQuiz()" class="animate__animated animate__tada animate__infinite	infinite" src="../../../assets/quiz/giftbox.png" loading="lazy" alt="logo">
                </div> 
            </div>            
        </div>
        <div id="registered" *ngIf="regForm == true ">
            <h1 class="center">Заповни форму, щоб отримати запрошення на безкоштовний захід «Час коду»</h1>
                <form [formGroup]="formConsult" (ngSubmit)="submitConsult()" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="name" id="icon_prefix" type="text"
                                [ngClass]="{'invalid':formConsult.get('name').invalid && formConsult.get('name').touched}">
                            <label for="icon_prefix">Им'я</label>
                            <span class="helper-text red-text"
                                *ngIf="formConsult.get('name').invalid && formConsult.get('name').touched">
                                <span *ngIf="formConsult.get('name').errors['required']">Им'я не може бути пустым</span>
                            </span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input formControlName="name2" id="icon_prefix-fazer" type="text"
                                [ngClass]="{'invalid':formConsult.get('name2').invalid && formConsult.get('name2').touched}">
                            <label for="icon_prefix-fazer">Iм'я одного з батьків</label>
                            <span class="helper-text red-text"
                                *ngIf="formConsult.get('name2').invalid && formConsult.get('name2').touched">
                                <span *ngIf="formConsult.get('name2').errors['required']">Iм'я не може бути пустым</span>
                            </span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input formControlName="tel" id="icon_telephone" type="tel"
                                [ngClass]="{'invalid':formConsult.get('tel').invalid && formConsult.get('tel').touched}">
                            <label for="icon_telephone">Номер телефону батьків</label>
                            <span class="helper-text red-text"
                                *ngIf="formConsult.get('tel').invalid && formConsult.get('tel').touched">
                                <span *ngIf="formConsult.get('tel').errors['required']">Телефон не може бути
                                    пустим</span>
                                <span *ngIf="formConsult.get('tel').errors['pattern']">Телефон складаеться з цифр</span>
                            </span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input formControlName="email" id="icon_email" type="email"
                                [ngClass]="{'invalid':formConsult.get('email').invalid && formConsult.get('email').touched}">
                            <label for="icon_email">Еmail</label>
                            <span class="helper-text red-text"
                                *ngIf="formConsult.get('email').invalid && formConsult.get('email').touched">
                                <span *ngIf="formConsult.get('email').errors['required']">Email не може бути пустим</span>
                                <span *ngIf="formConsult.get('email').errors['email']">Email не коректний</span>
                            </span>
                        </div>
                    </div>
                    <button type="submit" id="quiz-reg" class="green modal-action btn waves-effect"
                        [disabled]="formConsult.invalid || formConsult.disabled">Зареєструватися на зустріч</button>
                </form>
        </div>
        
    </div>

</div>