#quiz{
    /* background: url('../../../assets/quiz/bg-quiz.png') center no-repeat; 
    background-size: cover; */
    background: linear-gradient(90deg, rgba(9,164,88,1) 0%, rgba(74,92,161,1) 55%, rgb(116 59 152) 100%);
    height: 100vh;
    font-family: 'Conv_Montserrat-Regular';
    width: 100vw;
    /* overflow: hidden; */
    background-position-x: 0;
    display: flex;
    
}
#quiz button{
    position: relative;
    z-index: 999;
}
#quiz img{
    z-index: 1;
}
#quiz *{
    /* text-transform: uppercase; */
}#quiz i{
    text-transform: initial;
    font-family: 'Material Icons' !important;
}
.video video{
    width: 300px;
  }
form{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
form > *{
    font-family: 'Conv_Montserrat-Regular';
}
#quiz ul{
    border: 0;
}
#registered h1{
    font-size: 20px;
    line-height: 22px;
}
.wrap-q img{
    position: absolute;
}
#q{
    top:50px;
    transform: rotateZ(14deg);
}
#q2{
    top: 10px;
    transform: rotateZ(-14deg);
    right: 40%;
}
#q3{
    top: 50px;
    transform: rotateZ(14deg);
    right: 5%;
}
#q4{
    bottom: 5px;
    transform: rotateZ(-14deg);
    left: 5%;
}
#q5{
    bottom: 5px;
    transform: rotateZ(14deg);
    right: 40%;
}
#q6{
    bottom: 5px;
    transform: rotateZ(-45deg);
    right: 5%;
}
#go-test{
    border: 3px solid #8bc34a;
    color: #333;
    border-radius: 5px;
    height: 45px;
    font-weight: bold;
    background: #4caf50;
}
#quiz.reg{
    background: linear-gradient(90deg, rgba(9,164,88,1) 0%, rgba(74,92,161,1) 55%, rgb(116 59 152) 100%);
}
.wrap-quiz-container{
   width: 300px;
    margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
}
option {
    font-size: 10px;
    line-height: 16px !important;
    padding: 0;
    text-align: center; 
    color: rgb(24, 24, 24) !important;
    background: #efefef;
}
select{
    font-size: 16px;
    background: #efefef;
    border-radius: 5px;
    line-height: 16px !important;  
    color: rgb(24, 24, 24);
	font-family: 'Conv_Montserrat-Regular';
    margin-bottom: 20px;
}
option {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-family: 'Conv_Montserrat-Regular';
}
.register{
    margin-top: -100px;
}

.wrap-quiz-container > *{
    width: 100%;
}
.wrap-btn .btn{
    width: 40%;
    margin-bottom: 20px;
}
.wrap-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap-btn .btn{

    font-family: 'Conv_Montserrat-Regular';
    font-size: 16px;
    background-color: #747978;
    letter-spacing: 2px;
    border-bottom: 5px solid #5f5c5c;
    border-radius: 10px;
    height: 45px;
    transition: all 0.3s ease-in-out;

}
.wrap-btn .btn.green{
    border-bottom: 0;
    transform: scale(0.95);
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #14b41c;
}
label span{
    font-family: 'Conv_Montserrat-Regular';
    color: #000;
    display: inline-block;
    width: 100%;
}
.wrap-quiz-container h1{
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 0 15px 0; 
    color: #333;
    font-weight: bold;
    font-family: 'Conv_Montserrat-Regular';
    line-height:18px;
    padding: 10px;
    margin-top: 0px;
}
.wrap-rez{
    display: none;
}
.progress{
    height: 20px;
    border-radius: 10px;
}
.wrap-quiz-container h3{
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    font-weight: bold;
    color:#333;
	font-family: 'Conv_Montserrat-Regular';

}
.block{
    /* background: #c6e0ff;
    border-radius: 10px;
    padding: 15px; */
}
.block ul{
    border-radius: 10px;
}

#rezult img{
width: 100%;
}

#rezult{
	font-family: 'Conv_Montserrat-Regular';
}
#rezult h5{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: -30px;
}
#rezult h1{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    
    background: none;
    width: 43%;
    top: -210px;
    left: -2px;
    margin: 0 auto;
    line-height: 20px;
    /* text-transform: uppercase; */
}
#prof.evo{
    margin-top: -80px;
}
#rezult p{
    font-weight: bold;
}
#rezult #pod{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.wrap-rez{display: none;}
#prof{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: -60px;
    text-align: center;
}
#rezult h4{
    background: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.circle-item{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
}

.btn{
    width: 100%;
    
}