<div id="master-class">
    <div class="wrap-content">
        <div class="top-image">
            <img src="../../assets/master/1.png" loading="lazy" alt="">
            <img src="../../assets/master/1111.png" loading="lazy" alt="">
            <img src="../../assets/master/2.png" loading="lazy" alt="">
        </div>
        <div class="wrap-logo">
            <img src="../../assets/master/logo.png" loading="lazy" alt="">
        </div>
        <div class="wrap-logo">
            <img src="../../assets/master/text.png" loading="lazy" alt="">
        </div>
        <form [formGroup]="formConsult" (ngSubmit)="submitConsult()" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input formControlName="name" id="icon_prefix" type="text"
                  [ngClass]="{'invalid':formConsult.get('name').invalid && formConsult.get('name').touched}">
                <label for="icon_prefix">Ім'я</label>
                <span class="helper-text red-text"
                  *ngIf="formConsult.get('name').invalid && formConsult.get('name').touched">
                  <span *ngIf="formConsult.get('name').errors['required']">Ім'я не може бути пустим</span>
                </span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input formControlName="tel" id="icon_telephone" type="tel"
                  [ngClass]="{'invalid':formConsult.get('tel').invalid && formConsult.get('tel').touched}">
                <label for="icon_telephone">Номер телефону</label>
                <span class="helper-text red-text" *ngIf="formConsult.get('tel').invalid && formConsult.get('tel').touched">
                  <span *ngIf="formConsult.get('tel').errors['required']">Телефон не може бути пустим</span>
                  <span *ngIf="formConsult.get('tel').errors['pattern']">Телефон містить тільки цифри</span>
                </span>
              </div> 
              <h3 class="center">Вік дитини</h3>
            <div class="wrap-btn">
                <a class="btn" [class.green]="course == 'junior'" (click)='juniorSelect(course)'>6-8</a>
                <a class="btn" [class.green]="course == 'junior2'" (click)='junior2Select(course)'>9-12</a>
                <a class="btn" [class.green]="course == 'evo'" (click)='evoSelect(course)'>13-15</a>
                <a class="btn" [class.green]="course == 'evo2'" (click)='evo2Select(course)'>16-18</a>
            </div>
            <h3 class="center">Обери свое місто</h3>
            <select class="browser-default" formControlName='city' [(ngModel)]="city">             
              <option value="Харьков">Харків</option>
              <option value="Лозова">Лозова</option>
              <option value="Ахтырка">Охтирка</option>
              <option value="Мерефа">Мерефа</option>
              <option value="Лубны">Лубни</option>
              <option value="Изюм">Ізюм</option>
              <option value="Чугуев">Чугуїв</option>
              <option value="Бахмут">Бахмут</option>
              <option value="Первомайский">Первомайський</option>
              <option value="Прилуки">Прилуки</option>
              <option value="Покровск">Покровск</option>
          </select>
            <button type="submit" class="col s12 green submit-form modal-action btn waves-effect"
            [disabled]="formConsult.invalid || formConsult.disabled || city == '' ">Відправити</button>      
            </div>
          </form>
          <footer>
            <div class="wrap-bg">
              <img src="../../assets/master/footer-bg.png" id="foot-bg" alt="">
            </div>
            
            <h3 class="header center">контакти</h3>
            <div class="flex-row">
              <div class="left-contact">
                  <h3 class="center">Варіанти зв'язку</h3>
                  <p>+380 66 38 38 123</p>
                  <p>+380 68 38 38 123</p>
              </div>
              <div class="right-contact">
                <p><a [routerLink]="['/']">Головна сторінка</a></p>
                <p><a [routerLink]="['/dogovor-oferty']">Договір оферти</a></p>
                <p class="politic"><a [routerLink]="['/politika-konfidencialnosli']">Політика конфіденціальності</a></p>
              </div>
            </div>
            <div class="flex-image">
              <a href="https://t.me/itstart_school" target="_blank">
                <img id="telega" src="../../assets/master/Telegram_Messenger.png" alt="">
              </a>           
              <a href="https://www.instagram.com/itstart.school/" target="_blank">
                <img id="telega" src="../../assets/master/600px-Instagram_icon.png" alt="">
              </a>
            </div>
          </footer>
    </div>  
</div>