#quiz-index{
    background: url("../../../assets/quiz/bg-main.png") center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

}
#quiz-index .wrap-content{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#quiz-index .wrap-content h1{
    font-size: 30px;
    position: relative;
    z-index: 5;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Conv_evo_1';
    line-height: 45px;
}
.les{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
.input-field.col label{
    color: rgb(255, 255, 255);
    font-family: 'Conv_ofont.ru_Aqum',Arial, Helvetica;
    letter-spacing: 2px;
}

#quiz-reg{
    width: 100%;
}