<header class="oppi_header oppi_header_transparent oppi_header_style_three oppi_header_dark_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <nav class="navbar navbar-expand-lg header_nav">
                    <a style="color: #59C173; font-size: 1.75rem;" class="navbar-brand logo" href="#sc1">IT START</a>

                    <button class="navbar-toggler oppi_hamburger" type="button" data-toggle="collapse" data-target="#oppi_header_menu" aria-expanded="false">
                        <span class="bar_icon">
                            <span class="bar bar_1"></span>
                            <span class="bar bar_2"></span>
                            <span class="bar bar_3"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse oppi_header_menu" id="oppi_header_menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#sc1">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sc2">Що таке IT START?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sc4">Чому ми навчаємо?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sc5">Методика навчання</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sc6">Відгуки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sc7">FAQ</a>
                            </li>
                        </ul>
                        <a class="nav-link oppi_try_for_free " href="#form">Навчатися</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- oppi_header -->

<section id="sc1" class="oppi_banner oppi_banner_one  oppi_banner_two oppi_banner_three">
    <div class="shape_1 wow fadeInUp"  data-wow-delay="1s">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1150px" height="1030px" data-parallax='{"x": -200, "y": 0}'>
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="50%" y1="86.603%" y2="0%">
                    <stop offset="0%" stop-color="rgb(89, 193, 115)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(0, 128, 233)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" opacity="0.078" fill="rgb(255, 3, 124)" d="M1150.000,0.001 L1150.000,1029.999 L-0.000,1029.999 C-0.000,1029.999 1092.270,716.512 718.000,362.999 C542.412,197.149 1150.114,-0.999 1150.000,0.001 Z" />
            <path fill="url(#PSgrad_0)" d="M1150.000,0.001 L1150.000,1029.999 L-0.000,1029.999 C-0.000,1029.999 1092.270,716.512 718.000,362.999 C542.412,197.149 1150.114,-0.999 1150.000,0.001 Z" />
        </svg>
    </div>
    <div class="shape_2" data-parallax='{"from-scroll":20,"x": 500, "y": 0}'>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1000px" height="980px">
            <defs>
                <linearGradient id="PSgrad_1" x1="0%" x2="50%" y1="86.603%" y2="0%">
                    <stop offset="0%" stop-color="rgb(89, 193, 115)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(0, 128, 233)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(255, 3, 124)" d="M1000.000,0.001 L1000.000,979.999 L-0.000,979.999 C-0.000,979.999 656.643,599.419 495.000,467.999 C309.848,317.466 1000.000,0.001 1000.000,0.001 Z" />
            <path fill="url(#PSgrad_0)" d="M1000.000,0.001 L1000.000,979.999 L-0.000,979.999 C-0.000,979.999 656.643,599.419 495.000,467.999 C309.848,317.466 1000.000,0.001 1000.000,0.001 Z" />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="oppi_banner_content" data-parallax='{"from-scroll":20,"x": -500, "y": -500}'>
                    <h1 class="banner_title wow fadeInUp" data-wow-delay="0.2s">Професії майбутнього поруч iз IT START</h1>
                    <p class="banner_para wow fadeInUp" data-wow-delay="0.3s">Школа компʼютерних технологій майбутнього в теперішньому </p>
                    <div class="oppi_btn_group wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#form" class="oppi_dbtn btn_border">Хочу навчатися</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="oppi_banner_img_content">
                    <div class="banner_img" data-parallax='{"x": 500, "y": 500}'>
                        <img src="../../assets/main-page/images/feature/min.png"
                             alt="home_education" 
                             class="img-fluid education_banner_img wow fadeInUp" 
                             data-wow-delay="0.3s"
                             loading="lazy"
                             >
                        <div class="img_2 wow fadeInUp" data-wow-delay="0.4s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- oppi_banner -->

<section id="sc2" class="oppi_feature_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12"  data-parallax='{"from-scroll":1100,"y":-1000}'>
                <h2 class="text-center sec_title wow fadeInUp" data-wow-delay="0.2s">Чому обирають
                   <br> IT START:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" data-parallax='{"from-scroll":1100,"x":-1000}'>
                <div class="oppi_feature_item">
                    <div class="feature_img text-center wow fadeInUp" data-wow-delay="0.2s">
                        <img src="../../assets/main-page/images/first-block/feature_img_1.jpg" alt="feature_img" class="img-fluid">
                    </div>
                    <h4 class="feature_title text-center wow fadeInUp" 
                        data-wow-delay="0.3s">
                        Уроки з викладачем-практиком, який любить свій предмет і захоплює ним дитину
                    </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" data-parallax='{"from-scroll":1100,"y":-1000}'>
                <div class="oppi_feature_item">
                    <div class="feature_img text-center wow fadeInUp" data-wow-delay="0.4s">
                        <img src="../../assets/main-page/images/first-block/feature_img_2.jpg" alt="feature_img" class="img-fluid">
                    </div>                   
                        <h4 class="feature_title text-center wow fadeInUp" 
                            data-wow-delay="0.6s">
                            Легкий старт! Не <br> обов'язково мати досвід програмування
                        </h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" data-parallax='{"from-scroll":1100,"x":1000}'>
                <div class="oppi_feature_item">
                    <div class="feature_img text-center wow fadeInUp" data-wow-delay="0.4s">
                        <img src="../../assets/main-page/images/first-block/feature_img_3.jpg" alt="feature_img" class="img-fluid">
                    </div>
                   
                        <h4 class="feature_title text-center wow fadeInUp" 
                            data-wow-delay="0.5s">
                            Розумні безкоштовні відпрацювання. Не зрозуміти тему немає жодного шансу
                        </h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sc2" id="carousel-mobile" >
    <div class="col-md-12 col-sm-12 col-12"  data-parallax='{"from-scroll":1100,"y":-1000}'>
        <h2 class="text-center sec_title wow fadeInUp" data-wow-delay="0.2s">Чому обирають
           <br> IT START:</h2>
    </div>
    <div class="carousel" #carouselMobile>
        <a class="carousel-item" href="#one!">
            <img src="../../assets/main-page/images/first-block/feature_img_1.jpg" alt="feature_img" class="img-fluid">
            <h4 class="feature_title text-center wow fadeInUp" 
                data-wow-delay="0.3s">
             Уроки з викладачем-практиком який любить свій предмет і захоплює ним дитину
            </h4>
        </a>
        <a class="carousel-item" href="#two!">
            <img src="../../assets/main-page/images/first-block/feature_img_2.jpg" alt="feature_img" class="img-fluid">
            <h4 class="feature_title text-center wow fadeInUp" 
            data-wow-delay="0.6s">
            Легкий старт! Не обов'язково мати досвід програмування
        </h4>
        </a>
        <a class="carousel-item" href="#three!">
            <img src="../../assets/main-page/images/first-block/feature_img_3.jpg" alt="feature_img" class="img-fluid">
            <h4 class="feature_title text-center wow fadeInUp" 
            data-wow-delay="0.5s">
            Розумні безкоштовні відпрацювання. Не зрозуміти тему немає жодного шансу
        </h4>
        </a>
    </div>
</section>
<section id="sc3" class="oppi_social_about_wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12" data-parallax='{"from-scroll":1900,"x":-1000}'>
                <div class="oppi_social_about_content">
                    <h3 class="sec_title2  wow fadeInUp" 
                        data-wow-delay="0.2s"                   
                    >Учень у школі IT START:</h3>
                    <p class="oppi_soci_para  wow fadeInUp" 
                      data-wow-delay="0.3s"
                    >
                    У школі компʼютерних технологій IT START навчатися не тільки цікаво, 
                    а й дуже корисно, бо кожен учень прокачує математичне мислення, 
                    вчиться критично мислити, працювати в команді та не боятися помилок,
                     щоб бути затребуваними у будь-якій сфері
                    </p>
                    <div class="oppi_btn_group">
                        <a href="#form"                       
                        style="background: linear-gradient(-90deg, #0080e9 0%, #59C173 100%);"
                           class="oppi_dbtn btn_border btn_icon  wow fadeInUp" 
                           data-wow-delay="0.4s" 
                        >Навчатися <i class="arrow_right"></i>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12" data-parallax='{"from-scroll":1900,"x":3000}'>
                <div class="oppi_grafe_img_content">
                    <div class="img_inner">
                        <img src="../../assets/main-page/images/CV/main.png" alt="grafe_img" class="main img-fluid grafe_img wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="grafe_man_1">
                            <img src="../../assets/main-page/images/CV/CV_forPC_grafe_man_1.png" alt="grafe_img" class="img-fluid  wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                        </div>
                        <div class="grafe_man_2">
                            <img src="../../assets/main-page/images/CV/CV_forPCgrafe_man_2.png" alt="grafe_img" class="img-fluid  wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        </div>
                        <div class="grafe_item">
                            <img src="../../assets/main-page/images/feature/3.png" alt="grafe_img" class="grafe_item_img grafe_item_1 wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <img src="../../assets/main-page/images/feature/2.png" alt="grafe_img" class="grafe_item_img grafe_item_2 wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                            <img src="../../assets/main-page/images/feature/1.png" alt="grafe_img" class="grafe_item_img grafe_item_3 wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sc4" class="oppi_finance_features_area">
    <div class="container">
        <div class="section_title_three text-center wow rollIn" data-wow-delay="0.2s" >
            <span>Професії майбутнього</span>
            <h2 class="f_title">Що вивчають в IT START</h2>
            <p>В школі IT START є можливість займатися як у групах до 10 осіб, так і індивідуально. Оберіть зручний курс для вас чи вашої дитини</p>
        </div>
        <div class="row flex-row-reverse">
            <div class="d-flex">
                <div class="row">
                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":2800,"x":-2000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                             style="padding-top: 140px;background-color: #f3ff69;">
                            <img src="../../assets/main-page/images/programing/Development/Development_boy.png" alt="" style="width: 132px; margin-top: -132px; position: unset;">
                            <a>Програмування (C#)</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>Розробка ігор на Unity</h4></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":2800,"y":-2000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                            style="padding-top: 140px;background-color: #82f7ff;">
                            <img src="../../assets/main-page/images/programing/Users/Users_girl.png" alt="" style="width: 152px; margin-top: -132px; position: unset;">
                            <a> Figma</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>Веб-дизайн</h4></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":2800,"z":3000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                            style="padding-top: 140px;background-color: #00af85;">
                            <img src="../../assets/main-page/images/programing/Marketing/Marketing_boy.png" alt="" style="width: 152px; margin-top: -132px; position: unset;">
                            <a>Програмування (JS)</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>Розробка сайтів</h4></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":3100,"x":3100,"y":-3000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                             style="padding-top: 140px;background-color: #ff5a50;">
                            <img src="../../assets/main-page/images/programing/Design/Design_girl.png" alt="" style="width: 130px; margin-top: -132px; position: unset;">
                            <a> Cinema 4D</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>3D-моделювання</h4></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":3100,"z":3100,"y":-3000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                         style="padding-top: 140px; background-color: #ffb0cd;">
                            <img src="../../assets/main-page/images/programing/Users/Users_boy.png" alt="" style="width: 192px; margin-top: -132px; position: unset;  ">
                            <a>Програмування (C#)</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>Створення чат-ботів</h4></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4" data-parallax='{"from-scroll":3100,"x":3000}'>
                        <div class="oppi_finance_features_item wow rollIn" data-wow-delay="0.2s"
                        style="padding-top: 140px;background-color: #ffdb59;">
                            <img src="../../assets/main-page/images/programing/Surfing the internet/Surfing the internet_girl.png" alt="" style="width: 150px; margin-top: -132px; position: unset;">
                            <a> Illustrator</a>
                            <a href="#" style="padding-top: -108px;top: 90px;"><h4>Графічний дизайн</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section  id="sc5" class="oppi_social_about_wrap oppi_about_three">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h2 class="text-center sec_title wow fadeInUp" data-wow-delay="0.2s">Чому батьки обирають саме IT START:</h2>
            </div>
        </div>
    </div>
    <div class="container oppi_customcontainer">
        <div class="oppi_about_dot">
            <img src="../../assets/main-page/images/feature/Group 1.png" alt="about_dot">
        </div>
        <div class="row d-flex align-items-center oppi_about_content_item_1">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="oppi_about_content m_w_475 wow fadeInUp" data-wow-delay="0.2s"
                    
                >
                    <div class="oppi_abs_num ">
                        <div class="dot">
                            <div class="round"></div>
                        </div>
                        <h1>1</h1>
                    </div>
                    <div data-parallax='{"from-scroll":3500,"x":-2500}'>
                        <h3 class="about_title ">Захоплюємо темою уроку</h3>
                        <p class="oppi_soci_para ">Одна з найголовніших наших задач - це максимально захопити учня у світ технологій. Саме тому кожен урок проходить на практичній основі та з іноваційною ігровою методикою</p>
                    </div>
                    
                                     
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="oppi_about_img_wrap text-right" data-parallax='{"from-scroll":3500,"x":2500}'>
                    <img src="../../assets/main-page/images/Methods/1.png" alt="about_img" 
                    class="img-fluid wow fadeInUp" data-wow-delay="0.2s">
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center oppi_about_content_item_2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-parallax='{"from-scroll":4000,"y":-2500}'>
                <div class="oppi_about_img_wrap" >
                    <img src="../../assets/main-page/images/Methods/2.png" alt="about_img" class="img-fluid ">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 pl_100" data-parallax='{"from-scroll":4000,"x":-2500}'>
                <div class="oppi_about_content m_w_475">
                    <div class="oppi_abs_num">
                        <div class="dot">
                            <div class="round"></div>
                        </div>
                        <h1>2</h1>
                    </div>
                    <div class="right-off">
                        <h3 class="about_title t2">Надихаємо на справу</h3>
                        <p class="oppi_soci_para">
                            Вирішуємо реальні проблеми, а не абстрактні завдання. Як змусити власноруч створеного 3D-персонажа гри рухатися? Познайомитись з RigidBody!
                        </p>
                    </div>
                                        
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center oppi_about_content_item_3  wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-parallax='{"from-scroll":4500,"x":-2500}' >
                <div class="oppi_about_content m_w_475">
                    <div class="oppi_abs_num" >
                        <div class="dot">
                            <div class="round"></div>
                        </div>
                        <h1>3</h1>
                    </div>
                    <h3 class="about_title t3 ">Проєктний підхід</h3>
                    <p class="oppi_soci_para">
                        Без складних правил та зазубрювання. З перших занять застосовуємо знання на практиці, створюючи власні ігри, мультфільми та додатки
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="oppi_about_img_wrap text-right">
                    <img src="../../assets/main-page/images/Methods/4.png" alt="about_img"
                        class="img-fluid "
                        data-parallax='{"from-scroll":4500,"x":2500}' 
                     >
                </div>
            </div>
        </div>
    </div>
</section>
<!-- oppi_social_about_wrap -->

<section id="sc6" class="oppi_food_action_area">
    <div class="container">
        <div class="food_action_content text-center wow bounceIn" data-wow-delay="0.2s">
            <h2>Хочете дізнатися до чого схильна ваша дитина?</h2>
            <p>
                Пройдіть невелике опитування відповівши на декілька запитань та дізнайтесь, який напрямок більше підходить саме вам
            </p>
            <div class="d-flex justify-content-center">
                <a [routerLink]="['/test']" class="food_btn">Почати тест</a>
            </div>
        </div>
    </div>
</section>

    <!-- oppi_food_testimonial_area -->
 <section id="q">
    <h2 class="center">Що про нас кажуть батьки?</h2>
    <div id="carousel" 
    data-parallax='{"from-scroll":5700,"x":2500}'  
    class="carousel"
     #carousel>
    <a class="carousel-item" href="#one!">
        <img src="../../assets/main-page/images/portfolio/1.jpg" alt="feature_img" class="img-fluid">
    </a>
    <a class="carousel-item" href="#two!">
        <img src="../../assets/main-page/images/portfolio/2.png" alt="feature_img" class="img-fluid">
    </a>
    <a class="carousel-item" href="#three!">
        <img src="../../assets/main-page/images/portfolio/3.png" alt="feature_img" class="img-fluid">
    </a>
</div> 
 </section>
      
    <section id="form" class="oppi_coupon_area">
        <div class="container">
            <div class="coupon_inner">
                <div class="section_title_three text-center">
                    <h2 class="f_title food_title wow fadeInUp"> Отримай безкоштовний урок в IT START</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.3s">Ми звʼяжемось з вами протягом дня та забронюємо місце на більш відповідний напрямок та зручний для вас час</p>
                </div>
                <form  [formGroup]="formMain" 
                       (ngSubmit)="submitConsult()" 
                       class="row coupon_form "
                       data-parallax='{"from-scroll":6350,"x":-3500}'
                       >
                    <div class="coupon_w wow bounceIn" data-wow-delay="0.2s">
                        <div class="form-group">
                            <input type="text" formControlName="name" placeholder="Ваше Ім'я"
                                   [ngClass]="{'invalid':formMain.get('name').invalid && formMain.get('name').touched}"
                            >
                            <label><i class="icon_profile"></i></label>
                            
                        </div>
                        <span class="helper-text red-text"
                                *ngIf="formMain.get('name').invalid && formMain.get('name').touched">
                                <span *ngIf="formMain.get('name').errors['required']">Ім'я не може бути пустым</span>
                        </span>
                    </div>
                    <div class="coupon_w wow bounceIn" data-wow-delay="0.3s">
                        <div class="form-group">
                            <input type="tel" formControlName="tel"
                                    [ngClass]="{'invalid':formMain.get('tel').invalid && formMain.get('tel').touched}"
                                    placeholder="Ваш телефон">
                            <label><i class="icon_phone"></i></label>
                        </div>
                        <span class="helper-text red-text"
                                *ngIf="formMain.get('tel').invalid && formMain.get('tel').touched">
                                <span *ngIf="formMain.get('tel').errors['required']">Телефон не може бути
                                    пустим</span>
                                <span *ngIf="formMain.get('tel').errors['pattern']">Телефон складаеться з цифр</span>
                            </span>
                    </div>
                    <div class="coupon_w2 wow bounceIn" data-wow-delay="0.4s">
                        <div class="form-group">
                            <button type="submit" id="quiz-reg" class="oppi_dbtn restaurant_btn"
                            [disabled]="formMain.invalid || formMain.disabled">Отримати</button>
                        </div>
                    </div>
                </form>
                <div class="utility_banner_video wow bounceIn" data-wow-delay="0.3s">
                    <div class="video_img">
                        <img src="../../assets/main-page/images/feature/222.jpg" 
                             id="video-icon" 
                             alt="banner_video_img" 
                             class="img-fluid"
                        >
                        <a class="popup-youtube video_icon">
                            <div class="icon" (click)="open()" ><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oppi_faq_wrap" id="sc7">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <h2 class="text-center sec_title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><br>Знайдіть відповідь на своє запитання:</h2>
                    <div class="oppi_faq_content">
                        <ul #tabs class="collapsible popout">
                            <li class="wow bounceIn" data-wow-delay="0.2s">
                              <div class="collapsible-header">
                                <h3>   <i class="material-icons">keyboard_hide</i> Що таке розумні відпрацювання?
                                  <div class="wrap-control right">
                                    <i class="material-icons right up">expand_more</i>
                                  </div>
                                </h3>
                              </div>
                              <div class="collapsible-body">
                                Одна з головних переваг нашої школи - це розумні безкоштовні відпрацювання,
                                 якщо ваша дитина пропустила якесь заняття з будь-якої причини, то ви можете
                                  безкоштовно прийти на урок і індивідуально або з іншими учнями відпрацювати
                                   матеріал. На це відпрацювання можна приходити за бажанням, навіть якщо жодного заняття не пропущено, але хочеться закріпити матеріал!
                              </div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.2s" >
                              <div class="collapsible-header">
                                <h3>   <i class="material-icons">laptop</i> Чи потрібно мати компʼютер для навчання?
                                  <div class="wrap-control right">
                                    <i class="material-icons right up">expand_more</i>
                                  </div>
                                </h3>
                              </div>
                              <div class="collapsible-body">
                                На уроці в класі ми забезпечуємо учнів всіми необхідними речами для 
                                продуктивних занять. 
                                У кожного учня є особистий компʼютер та робоче місце.
                              </div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.2s">
                              <div class="collapsible-header">
                                <h3>   <i class="material-icons">library_books</i> Чи отримають учні сертифікат після закінченя курсу?
                                  <div class="wrap-control right">
                                    <i class="material-icons right up">expand_more</i>
                                  </div>
                                </h3>
                              </div>
                              <div class="collapsible-body">
                                Так! По закінченню курсу у кожної групи є випускне заняття, де учні захищають свої дипломні проєкти та отримують іменні сертифікати.
                              </div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.2s">
                              <div class="collapsible-header">
                                <h3>   <i class="material-icons">query_builder</i>  Який розклад?
                                  <div class="wrap-control right">
                                    <i class="material-icons right up">expand_more</i>
                                  </div>
                                </h3>
                              </div>
                              <div class="collapsible-body">
                                Якщо починати з графіку, то графік у кожної групи індивідуальний. Більшість груп займається 2 рази на тиждень. Тривалість 1 заняття — від 60 - 120 хв.
                              </div>
                            </li>
                            <li class="wow bounceIn" data-wow-delay="0.2s">
                                <div class="collapsible-header">
                                  <h3>   <i class="material-icons">attach_money</i> Яка ціна?
                                    <div class="wrap-control right">
                                      <i class="material-icons right up">expand_more</i>
                                    </div>
                                  </h3>
                                </div>
                                <div class="collapsible-body">
                                    Щодо ціни, то потрібно залишити заявку на навчання, і найближчим часом з вами зв'яжеться адміністратор нашої школи, щоб розрахувати для вас фінальну вартість курсу. Вона залежить від обраного напрямку та курсу який ви оберете, а також від міста, можливих пільг і поточних знижок.
                                </div>
                              </li>
                              <li class="wow bounceIn" data-wow-delay="0.2s">
                                <div class="collapsible-header">
                                  <h3>   <i class="material-icons">assignment_ind</i> Хто викладає?
                                    <div class="wrap-control right">
                                      <i class="material-icons right up">expand_more</i>
                                    </div>
                                  </h3>
                                </div>
                                <div class="collapsible-body">
                                    Викладачі нашої школи - це практикуючи спецалісти, які проходили повний курс викладання та роботи з дітьми у нашій головній філії в Харкові
                                </div>
                              </li>  
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
<!-- oppi_faq_wrap -->

<section class="oppi_call_to_action_four" 
        id="sc8"
        style="background:linear-gradient(220deg, #0080e9 0%, #59C173 100%);">
    <div class="shape_1 wow fadeInDown" data-wow-delay="1s">
        <img src="../../assets/main-page/images/feature/Vector 1.png" 
             alt="call_to_action_four_shape" class="img-fluid" 
             data-parallax='{"x": -150, "y": 0}'
           
             >
    </div>
    <div class="shape_2 wow fadeInUp" data-wow-delay="1.2s">
        <img src="../../assets/main-page/images/feature/Vector 2.png" 
        alt="call_to_action_four_shape" class="img-fluid" 
        data-parallax='{"x": 150, "y": 0}'
      
        >
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="oppi_call_to_action_content">
                    <h1 class="call_title wow fadeInUp" data-wow-delay="0.2s">Хочешь більше дізнатися про IT START?</h1>
                    <p class="call_para wow fadeInUp" data-wow-delay="0.3s">Занурюйся у космічний світ майбутньго нашої школи</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="oppi_call_btn_group  text-right">
                    <a [routerLink]="['/web-1']" class="oppi_dbtn btn_solid_color wow fadeInUp" data-wow-delay="0.4s">Підʼєднатися</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- oppi_call_to_action_three -->

<footer class="oppi_footer_wrap oppi_footer_light">
    <div class="oppi_footer_top">
        <div class="container">
            <div class="oppi_footer_top_inner">
                <div class="row">
                    <!-- TUUUUT-->
              </div>
            </div>
        </div>
    </div>
    <div class="oppi_footer_bottom">
        <div class="container">
            <div class="oppi_footer_bottom_inner">
                <div class="row d-flex align-items-center col_reverse">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-12">
                        <div class="oppi_copy_right">
                           
                            <p class="copy_right_text">©2021 IT-START Школа комп`ютерних технологій. <br>
                                <a [routerLink]="['/dogovor-oferty']">Договір оферти.</a> <br>
                                <a [routerLink]="['/politika-konfidencialnosli']">Політика конфіденціальності</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                        <div class="oppi_footer_social">
                            <ul class="social_item text-right">
                                <li><a href="https://www.instagram.com/itstart.school/"><img src="../../assets/block1/instagram.png" alt=""></a></li>
                                <li><a href="https://www.youtube.com/channel/UCMjVqFtSJnKX3oOOOzpMrnQ"><img src="../../assets/block1/free-icon-youtube-160205.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div #modal class="modal modal-fixed-footer">
    <div class="modal-content">
        <button title="Close (Esc)"  (click)="close()" type="button" class="mfp-close">×</button>
        <iframe width="960" height="600" src="https://www.youtube.com/embed/k60EyKq9zu4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<!-- oppi_footer_wrap -->