nav{
    background: transparent;
    box-shadow: none;
}

#carousel-mobile{
    display: none;
}
.oppi_header .header_nav .oppi_header_menu ul li.nav-item a.nav-link{
    font-size: 1.5rem;
}
.oppi_header .header_nav .oppi_header_menu .oppi_try_for_free{
    font-size: 1.5rem;
}
.oppi_banner.oppi_banner_three .oppi_banner_content .oppi_dbtn.btn_border{
    background: linear-gradient(-90deg, #0080e9 0%, #59C173 100%);
    transition: all 0.3s ease-in-out;
}
.navbar-toggler:focus, .navbar-toggler:hover{
    background: transparent;
}
.social_item li a:hover{
    color: #333;
    text-decoration: none;
}

.oppi_dbtn.btn_border:hover{
    text-decoration: none;
    transform: scale(0.9);
}
header{
    background: #fff;
    padding: 5px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1080;
    height: 70px;
    -webkit-box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 6%);
    box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 6%);
}
.collapsible.popout>li{
    margin: 20px 0;
    border: 2px solid rgba(25, 201, 54, 0.2);
    box-shadow: none;
}
.collapsible.popout>li.active{
    border-image:linear-gradient(220deg, #0080e9 0%, #59C173 100%) 10;
    box-shadow: 0 0 30px rgb(28 63 116 / 28%);
}
.material-icons{
    position: relative;
    top:3px;
}
.collapsible.popout>li.active .collapsible-header{
    border-bottom: 1px solid #ddd;
    border-image:linear-gradient(220deg, #0080e9 0%, #59C173 100%) 10;
}
.collapsible-header{
    border-bottom: 0;
}
.right-off{
    position: relative;
    left: 85px;
}
.oppi_about_three{
    padding-top: 0;
}
.oppi_food_action_area{
    background-image: url("../../assets/main-page/images/feature/q.jpg");
}
#carousel .carousel-item{
    width: 400px;
    height: 400px;
    padding: 10px;
}
#carousel{
    margin-top: 50px;
    margin-bottom: 50px;
}
.oppi_finance_features_area{
    padding-bottom: 20px;
}
#carousel .carousel-item img{
    box-shadow: 0 0 10px #888;
    border-radius: 10px;
}
.oppi_social_about_content .oppi_btn_group .oppi_dbtn{
    border: 0;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.oppi_social_about_content .oppi_btn_group .oppi_dbtn i{
    color: #fff;
}
#video-icon{
    height: 600px;
    width: 100%;
}
.oppi_footer_social a img{
    width: 20px;
}
.oppi_feature_item .feature_title:hover{
    cursor: default;
    color: #2c234d;
}
.oppi_feature_item .feature_title{
    font-weight: bold;
}
.grafe_item_img{
    width:443px;
    height: 90px;
}

.oppi_faq_item.open {
    box-shadow: 0px 40px 70px 0px rgb(133 11 131 / 12%);
    background-image: linear-gradient(
50deg, #fff 0%, #fff 100%), linear-gradient(
50deg, #38f270 0%, #1411da 100%);
    padding-bottom: 30px;
}

.oppi_faq_item {
    border: 2px solid rgba(31, 201, 25, 0.2);
    box-sizing: border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    transition: all 0.5s;
    z-index: 1;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 15px 28px 20px 40px;
}
.oppi_call_to_action_four .oppi_call_btn_group .oppi_dbtn{
    transition: all 0.3s ease-in-out;
}
.oppi_call_to_action_four .oppi_call_btn_group .oppi_dbtn:hover{
    color: #FFF;
    transform: scale(0.9);
    text-decoration: none;
    background: transparent;
}
#q h2{
    margin-top: 40px;
    color: #2c234d;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.modal{
    max-width: 980px;
    max-height: 500px;
    background: transparent;
    top:20% !important;
    box-shadow: none;
}

.modal .modal-content{
    background: transparent;
    padding: 0;
    border: none;
    padding-top: 35px !important;
}
nav ul li a:hover{
    background: transparent;
}
 li.active .up {
    transform: rotateZ(-180deg);
}

.main{
    width: 370px;
    height: 560px;
}
a{
    transition: all 0s;
}
input{
    box-sizing: border-box !important;
}
.coupon_form .form-group .restaurant_btn{
    padding: 19px 23px;
}
.oppi_finance_features_item{
    height: 230px;
    position: relative;
    padding-top: 165px !important;
    padding: 15px;
}

.oppi_finance_features_item img{
    width: 160px !important;
    margin-top: 0 !important;
    position: absolute !important;
    top: 16px !important;
    right: 20px !important;
}
.food_action_content .food_btn {  
    color: #fff; 
    border-radius: 5px;
    background: #06b85b;
    padding: 17px 26px;
    border: 2px solid #06b85b;
    box-shadow: 0px 20px 30px 0px rgb(6 150 76 / 16%);
    transition: all 0.4s linear, color 0s linear;
    min-width: 175px;
    text-align: center;
}
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1df001;
    position: absolute;
}

.dot:before, .dot:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background:  #06b841;;
    top: 0;
    left: 0;
}
.dot .round {
   
    background: #08b65c38;
  
}
.food_action_content .food_btn:hover{
    transform: scale(0.9);
    border: 2px solid #06b85b;
    background: #06b85c1f;
    text-decoration: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 960px){
    .oppi_header.oppi_header_style_three .header_nav .oppi_header_menu .oppi_try_for_free::after {
        background-image: none !important;
    }
    .oppi_finance_features_area{
        padding-bottom: 0;
    }
    a h4{
        color: #707b8e;
        text-decoration: none;
        font-size: 15px;
        line-height: 18px;
        font-family: "Poppins", sans-serif;
    }
    .collapsible.popout > li h3{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    .material-icons{
        margin-right: 0;
    }
    .oppi_grafe_img_content .img_inner .grafe_item .grafe_item_img{
        margin-bottom: 55px;
    }
    .shape_2,
    .oppi_banner_content,
    .banner_img img,
    .col-lg-4.col-md-4,
    .col-lg-6.col-md-6.col-sm-12.col-12,
    .oppi_about_img_wrap.text-right,
    .banner_img,
    .oppi_about_content div{
        transform: translate3d(0px, 0px, 0px) rotateX( 0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1) !important;
               
    }
    .oppi_finance_features_area{
      
    }
    .oppi_about_content .about_title::before{
        content: "1";
        font-size: 21px;
        background: #ddd;
        width: 30px;
        display: inline-block;
        text-align: center;
        height: 30px;
        margin-right: 10px;
        border-radius: 38px;
    }
    .right-off{
        left: 0;
    }
    .oppi_about_content .about_title.t2::before{
        content: "2";
    }
    .oppi_about_content .about_title.t3::before{
        content: "3";
    }
    #carousel .carousel-item{
        width: 300px;
        height: 300px;
    }
    .coupon_form .coupon_w2{
        max-width: 330px;
        width: 100%;
    }
    .coupon_form .coupon_w2 div{
        width: 100%;
    }
    .coupon_form button{
        margin: auto;
        display: block;
    }
    .oppi_grafe_img_content{margin-top: -55px;}
    .oppi_about_img_wrap.text-right,
    .oppi_about_img_wrap
    {
        display: none;
    }
    #carousel-mobile{
        display: block;
        /* margin-bottom: -50px;
        margin-top: -50px; */
    }
     #carousel-mobile .carousel{
         /* margin-top: -50px; */
     }
     .oppi_social_about_content .sec_title2{
         text-align: center;
     }
     .oppi_social_about_content .oppi_soci_para{
        
         text-align: center;
     }
     .oppi_social_about_content .oppi_btn_group .oppi_dbtn{
         display: none;
     }
     .oppi_grafe_img_content .img_inner .grafe_img{
        max-width: 300px;
     }
     .oppi_header.oppi_header_style_three .header_nav .oppi_header_menu .oppi_try_for_free{
        background: linear-gradient(-90deg, #0080e9 0%, #59C173 100%);
        border: 0;
        color: #fff;
    }
     .grafe_item{
         
    top: 200px;
     }
     .grafe_item img{
         width: 300px;
        max-width: 300px !important;
        height: 60px;
     }
     .utility_banner_video{
         display: none;
     }
     nav ul li{
        clear: both;
        width: 100%;
    }
     .grafe_man_1,
     .grafe_man_2{display: none;}
    .oppi_feature_wrap{display: none;}
}