.progress{
    height: 30px;
  }
  .hide-bg{
    height: 100vh;
    position: absolute;
    width: 100vw;
   transition: all 1s ease-in-out;
  }
  .hide-bg.active{
    margin-top:-100vh
   }
  .determinate.selected{
    transition-property: width;
    transition-duration: 5s;
    width: 100%;
  }
  .determinate{
    transition-property: width;
    transition-duration: 5s;
    width: 0%;
  }

  .space2{
    overflow: hidden;
  }
  .wrap-text-space{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    opacity: 0;
    transition: all 1s;
  }

  .wrap-text-space.selected{
    opacity: 1;
    transition: all 1s;
  }
  