<div id="quiz-index">
  <div class="wrap-content">
    <h1>Ура тобі пощастило</h1>
    <div class="block">
      <p>У тебе з’явилась можливість потрапити на 
        суперцікавий та безкоштовний  майстер-клас 
        з программування та дизайну  на якому ти класно
        проведеш час та отримаєш  подарунки 
      </p>
    </div>
      <img src="../../../assets/quiz/rocket2.png" id="rocket" loading="lazy" alt="logo">
      <img src="../../../assets/quiz/ticket.png" id="ticket" loading="lazy" alt="">
    <h1 class="litle">Цікаво ? Встигни забронювати місце</h1>
    <div class="block block2">
      <p>+38(066)-38-38-123</p>
      <p>+38(068)-38-38-123</p>
    </div>
    <div class="timer">     
      <!-- <span id="days"> {{daysToDday}} </span>Day(s) -->
      <p class="center">Залишилось до зустрічі</p>
      <span id="hours"> {{hoursToDday}} </span>: год.
      <span id="minutes"> {{minutesToDday}} </span>: хв.
      <span id="seconds"> {{secondsToDday}} </span>: сек.
  </div>
  </div>
</div>