
img{
    transition: all 1.5s;
}

.wrap-img{
    position: relative;
    z-index: 10;
}
#pl1 {

    position: relative;
    max-width: 100px;
    right: -30%;
    margin-top: 20px;
}
#pl1:hover{
    transform: scale(1.2);
}
#pl2{
    max-width: 350px;
}
#pl2:hover{
    transform: scale(0.9);
}
#pl3 {
    max-width: 150px;
    position: relative;
    right: -40%;
}
#pl3:hover{
    transform: scale(1.1);
}
.text{
    z-index: 22;
    color: transparent; /* прозрачный цвет букв */
    -webkit-text-stroke: 3px #fff;
}
.text h1{
    font-size: 7rem;
line-height: 110%;
margin-top: 50%;

}
.border{
    display: inline-block;
    border: 3px solid #22f106;
    width: 120px;
    border-radius: 30px;
    height: 93%;
    position: relative;
    top: 1px;
    left: 5%;
}

#start{
    margin-top: 0px;
    border-radius: 50%;
    width: 32px;
    position: relative;
    height: 32px;
    top: 0px;
    left: 1px;
    background-color: rgb(240, 243, 240);
    transition: all 1s;
}
.selected{
    left: 82px !important;
    background-color: rgb(34, 241, 6) !important;
}
.text h3{
    -webkit-text-stroke: 3px  rgb(34, 241, 6);
  position: relative;
  z-index: 9999;
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;

}
.row{
    margin: 0;
    width: 100%;
    
}

h3, h4 {
    line-height: 65%;
}