
img{
    transition: all 1.5s;
}

.wrap-img{
    position: relative;
    z-index: 10;
}
.space1{
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background : linear-gradient(0deg, rgba(6, 0, 63, 1) 0%, rgba(5, 6, 62, 1) 7.69%, rgba(6, 3, 63, 1) 51.9%, rgba(0, 63, 52, 1) 79.77%);
 }
.start{
    z-index: 99999;
    position: absolute ;
    bottom: 30px ;
    left: 50% ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(1, 255, 43);
    
}
/* .start i {
    font-size: 30px;
    left: -5px;
    position: relative;
    top: 5px;
} */
/*====================== left part ========================*/
.language{
    position: absolute;
    top:50px;
    left: 50px;
    width: 150px;
    height: 30px;
 
}
#space1 h5{
    font-size: calc(15px + (25 - 15)*((100vw - 320px)/(1920 - 320)));
    -webkit-text-stroke: calc(0.5px + (1 - 0.5)*((100vw - 320px)/(1920 - 320))) #fff;
}
.language div{
    float: left;
    cursor: pointer;
    z-index: 99999;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.829);
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow:0 0 10px rgb(14, 156, 38);
    border-radius: 5px;
}
#pl1:hover{
    transform: scale(1.2);
}

#pl2:hover{
    transform: scale(0.9);
}

#pl3:hover{
    transform: scale(1.1);
}
#pl1 {
    position: relative;
    width: calc(50px + (162 - 50)*((100vw - 320px)/(1920 - 320)));
    right: -30%;
    margin-top: calc(10px + (20 - 10)*((100vw - 320px)/(1920 - 320)));
}
#pl2{
    width:calc(80px + (460 - 80)*((100vw - 320px)/(1920 - 320)));
}
#pl3 {
    width: calc(50px + (260 - 50)*((100vw - 320px)/(1920 - 320)));
    position: relative;
    right: -40%;
}
/*====================== end left part ========================*/

/*====================== righ part ========================*/
.text{
    z-index: 22;
    color: transparent; /* прозрачный цвет букв */
    -webkit-text-stroke: calc(1px + (3 - 1)*((100vw - 320px)/(1920 - 320))) #fff;
}
.text h1{
    font-size: calc(30px + (150 - 30)*((100vw - 320px)/(1920 - 320)));
    line-height: 110%;
    margin-top: calc(30px + (300 - 30)*((100vw - 320px)/(1920 - 320)));
    white-space:nowrap;
}
.text h3{
    -webkit-text-stroke: calc(1px + (3 - 1)*((100vw - 320px)/(1920 - 320))) rgb(34, 241, 6);
  position: relative;
  z-index: 9999;
 float: left;
 margin: 0;
 white-space:nowrap;
  font-size: calc(29px + (90 - 29)*((100vw - 320px)/(1920 - 320)));
}
.border{
    display: inline-block;
    border: calc(1px + (3 - 1)*((100vw - 320px)/(1920 - 320))) solid #22f106;
    /* width: calc(45px + (120 - 45)*((100vw - 320px)/(1920 - 320)));
    height: calc(15px + (45 - 15)*((100vw - 320px)/(1920 - 320))); */
    width: 118px;
    height: 38px;
    border-radius: calc(18px + (30 - 18)*((100vw - 320px)/(1920 - 320)));
    position: relative;
    top: calc(25px + (20 - 25)*((100vw - 320px)/(1920 - 320)));
    left: calc(0px + (50 - 0)*((100vw - 320px)/(1920 - 320)));
}

#start{
    margin-top: 0px;
    position: relative;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 0px;
    left: 1px;
    background-color: rgb(240, 243, 240);
    transition: all 1s;
}
.selected{
    left: 82px !important;
    background-color: rgb(34, 241, 6) !important;
}
.container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: calc(320px + (1920 - 320)*((100vw - 320px)/(1920 - 320))) !important;
    margin:  0 auto;
    padding: calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320))) !important;
}
.row{
    margin: 0;
    width: 100%;
    
}

/*====================== end righ part ========================*/
@media (max-width:1920px) {

}