<div id="course" [class]="className">
  <nav class="yellow" id="nav-mobile">
    <div class="nav-wrapper">
      <a id="positions" [routerLink]="['/city',categoryId]" class="btn-floating pulse  waves-effect waves-light green">
        <i class="material-icons">arrow_downward</i>
      </a>
      <a href="tel:+380663838123" id="logo" class="brand-logo center">
        <i class="material-icons">contact_phone</i> +3(80)-66-38-38-123
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/']">Главная</a></li>
        <li><a [routerLink]="['/city']">Города</a></li>
        <li><a [routerLink]="['/city',categoryId]">Курсы</a></li>
      </ul>
    </div>
  </nav>

  <div class="container animate__animated animate__bounceInLeft animate__delay-1s">
    <div class="wrap-content">
      <div class="left-part">
        <img id="comp" src="../../assets/block1/999.png" alt="">
      </div>
      <div class="right-part" *ngIf="positions$ |async as positions; else loader">
        <h1>{{positions.name}}</h1>
        <button (click)="open()" class="btn-add">
          Записаться на пробный урок
        </button>
        <!-- <h3>Цена: {{positions.cost}} <span *ngIf="positions.name == 'Individual';else elseBlock">грн/урок</span> </h3>
        <ng-template #elseBlock> <span>грн/мес</span> </ng-template> -->

      </div>
      <ng-template #loader>
        <div class="row">
          <div class="col s12 center">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="flex-row">
      <div class="text-block">
        <p>
          <strong>Обучение</strong><br>
          на практике
        </p>
      </div>
      <div class="text-block">
        <p>
          <strong>Ребенок попробует</strong><br>
          себя во всех сферах IT
        </p>
      </div>
      <div class="text-block">
        <p>
          <strong>Постоянное </strong><br>
          развитие
        </p>
      </div>
      <div class="text-block">
        <p>
          <strong>Современная</strong><br>
          методика обучения
        </p>
      </div>
    </div>
    <div class="flex-row-img"
      *ngIf="className == 'Evolite' || className == 'Individual' || className == 'Junior' || className == 'Seniors'">
      <div class="img-block">
        <img id="il" src="../../assets/block1/ai.png" loading="lazy" alt="1">
      </div>
      <div class="img-block">
        <img id="ps" src="../../assets/block1/ps.png" loading="lazy" alt="2">
      </div>

    </div>
    <div class="search">
      <img id="ss" src="../../../assets/qqq.png" loading="lazy" alt="search">
      <span class="typed-element"></span>
    </div>

    <div class="text-block">
      <img id="left-img" src="../../assets/block1/icons-left.png" loading="lazy" alt="3">
    </div>
    <div class="text-block">
      <img id="center-img" src="../../assets/block1/vs.png" loading="lazy" alt="5">
    </div>
  </div>
  <div class="wrap-evo ">
    <h1 class="center">Кому подойдёт этот курс ?</h1>
    <div class="flex-row-img-2">
      <div class="block">
        <img src="../../../assets/block1/1.png" loading="lazy" alt="123">
        <div class="wrap-text">
          <h3>Новичкам в IT сфере</h3>
          <p>
            IT мир очень расширен, и в нем есть много профессий. 
            На этом курсе, ваш ребенок изучит каждую тему. И в конце курса,
             определиться с будущей профессией.
          </p>

        </div>
      </div>
      <div class="block">
        <img src="../../../assets/block1/2.png" loading="lazy" alt="">
        <div class="wrap-text">
          <h3>Начинающим дизайнерам</h3>
          <p>Самое главное в изучении - это практика
            и правильное взаимодействие с программой. На этом курсе ваш ребёнок
            соберёт большое портфолио из работ и накопит опыт в веб-дизайне.
          </p>
        </div>
      </div>
      <div class="block" *ngIf="className == 'Evolite' || className == 'Individual'">
        <img src="../../../assets/block1/3.png" loading="lazy" alt="">
        <div class="wrap-text">
          <h3>Разработчикам</h3>
          <p>На этом курсе ребёнок создаст
            множество проектов на JS и его
            фреймворках.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap-prog">
    <h1 class="center" *ngIf="className == 'Individual'">Что будем изучать ?</h1>
    <h1 class="center" *ngIf="className == 'Junior' || className == 'Evolite'">Выбери подходящую IT професcию</h1>
    <div class="junior-puzzle" *ngIf="className == 'Junior' ">
      <div class="wrapper-btn ">
        <button class="btn" [class.active]="siteActive" (click)="siteDevelopment()">Разработчик сайтов</button>
        <button class="btn" [class.active]="gameActive" (click)="gameDevelopment()">Разработчик игр</button>
      </div>
      <div class="tabs-btn animate__animated animate__zoomInLeft" *ngIf="siteActive == true">
        <div class="wrap-bg">
          <img src="../../../assets/puzzle/tabs.png" loading="lazy" alt="1">
        </div>
        <div class="wrap-info">
          <h1>Разработчик сайтов</h1>
        </div>
        <div class="clear"></div>
        <div class="wrap-puzzle">
          <div class="left-puzle">
            <div id="puzle1" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-1.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Junior Web START</h4>
              </div> -->
              <!-- <div class="wrap-head-2">
                <h5>Перемещение в мир веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>На этом курсе ребёнок получит знания по
                  созданию сайтов на Wordpress . Подключит
                  свой сайт к интернету изучив хостинг и домен
                  сайта. Сделает полную настройку SEO и получит
                  полную основу веб-дизайна с помощью проф.
                  пакета программ Adobe и Maxon Cinema 4D.
                </p>
              </div>

            </div>
            <div id="puzle2" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn2.png" alt="1">
              </div>
              <!-- <div class="text-list">
                <ul>
                  <li> <img src="../../../assets/puzzle/wordpress.png" alt="wp"> <span> Wordpress</span> </li>
                  <li><img src="../../../assets/puzzle/illus.png" alt="wp"> <span> Adobe illustrator </span></li>
                  <li><img src="../../../assets/puzzle/ps.png" alt="wp"> <span> Adobe Photoshop </span></li>
                  <li> <img src="../../../assets/puzzle/cinema.png" alt="wp"> <span> Cinema 4D </span></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="right-puzle">
            <div id="puzle3" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-2.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Junior Web PRO </h4>
              </div> -->
              <!-- <div class="wrap-head-2">
                <h5>Продолжение прохождения мира веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>После изучения основных задач веб-дизайна
                  ученик получит углублённые знания в UX/UI ,
                  перейдёт к созданию личного магазина в
                  OpenCart и добавит анимационное дополнение
                  созданно в программе Adobe AE и Сharacter Anim.
                  В финале курса изучит основу HTML&CSS для
                  дальнейшего получения проффесии Fron-end dev.
                </p>
              </div>
            </div>
            <div id="puzle4" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn2-2.png" alt="1">
              </div>
              <!-- <div class="wrap-level">
                <div class="flex-row">
                  <div class="left-part">
                    <h5>Новый уровень
                      знаний в области
                      веб-разработчика</h5>
                    <div class="wrap-img-row">
                      <img src="../../../assets/puzzle/wordpress.png" alt="wp">
                      <img src="../../../assets/puzzle/illus.png" alt="wp">
                      <img src="../../../assets/puzzle/ps.png" alt="wp">
                      <img src="../../../assets/puzzle/cinema.png" alt="wp">
                    </div>
                  </div>
                  <div class="right-part-p">
                    <ul>
                      <li> <img src="../../../assets/puzzle/icons8-adobe-after-effects-480 (1).png" alt="wp"> <span> Adobe AE</span> </li>
                      <li><img src="../../../assets/puzzle/character-animator.png" alt="wp"> <span> Character Animation </span></li>
                      <li><img src="../../../assets/puzzle/opencart.png" alt="wp"> <span> OpenCart </span></li>
                      <li> <img src="../../../assets/puzzle/icons8-html-5-96.png" alt="wp"> <span> HTML&CSS </span></li>
                    </ul>
                  </div>
                </div>


              </div> -->
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="wrap-portfolio">
          <img src="../../../assets/puzzle/junior-web.png" loading="lazy" alt="1">
        </div>
        
      </div>
      <div class="tabs-btn animate__animated animate__zoomInRight" *ngIf="gameActive == true">
        <div class="wrap-bg">
          <img src="../../../assets/puzzle/tabs.png" loading="lazy" alt="">
        </div>
        <div class="wrap-info">
          <h1>Разработчик игр</h1>
        </div>
        <div class="clear"></div>
        <div class="wrap-puzzle">
          <div class="left-puzle">
            <div id="puzle1" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-game-1.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Junior Web START</h4>
              </div> -->
              <!-- <div class="wrap-head-2">
                <h5>Перемещение в мир веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>Дети начнут уверенно делать свои первые шаги
                  в сфере разработке игр. На протяжение курса 
                  ребёнок научиться  разрабатывать 3D модели и 
                  игровые сцены с нуля в программе Cinema 4D и 
                  Adobe Illustrator. Также изучит язык программ. 
                  LUE , на котором будут создаваться игры в Roblox.  
                </p>
              </div>

            </div>
            <div id="puzle2" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-game-1_2.png" alt="1">
              </div>
              <!-- <div class="text-list">
                <ul>
                  <li> <img src="../../../assets/puzzle/wordpress.png" alt="wp"> <span> Wordpress</span> </li>
                  <li><img src="../../../assets/puzzle/illus.png" alt="wp"> <span> Adobe illustrator </span></li>
                  <li><img src="../../../assets/puzzle/ps.png" alt="wp"> <span> Adobe Photoshop </span></li>
                  <li> <img src="../../../assets/puzzle/cinema.png" alt="wp"> <span> Cinema 4D </span></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="right-puzle">
            <div id="puzle3" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-game-2.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Junior Web PRO </h4>
              </div>
              <div class="wrap-head-2">
                <h5>Продолжение прохождения мира веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>На этом курсе дети перейдут в профессиональную
                  среду разработки игр Unity в которой начнут получать
                  фундаментальные знания создания и проектирования
                  игровых сцен и основ языка программирования С#,
                  а также к  работе над качественными 2D проектами
                  дизайн которых будет создавать самостоятельно  
                </p>
              </div>
            </div>
            <div id="puzle4" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/jn-game-1-2.png" alt="1">
              </div>
              <!-- <div class="wrap-level">
                <div class="flex-row">
                  <div class="left-part">
                    <h5>Новый уровень
                      знаний в области
                      веб-разработчика</h5>
                    <div class="wrap-img-row">
                      <img src="../../../assets/puzzle/wordpress.png" alt="wp">
                      <img src="../../../assets/puzzle/illus.png" alt="wp">
                      <img src="../../../assets/puzzle/ps.png" alt="wp">
                      <img src="../../../assets/puzzle/cinema.png" alt="wp">
                    </div>
                  </div>
                  <div class="right-part-p">
                    <ul>
                      <li> <img src="../../../assets/puzzle/icons8-adobe-after-effects-480 (1).png" alt="wp"> <span> Adobe AE</span> </li>
                      <li><img src="../../../assets/puzzle/character-animator.png" alt="wp"> <span> Character Animation </span></li>
                      <li><img src="../../../assets/puzzle/opencart.png" alt="wp"> <span> OpenCart </span></li>
                      <li> <img src="../../../assets/puzzle/icons8-html-5-96.png" alt="wp"> <span> HTML&CSS </span></li>
                    </ul>
                  </div>
                </div>


              </div> -->
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="wrap-portfolio">
          <img src="../../../assets/puzzle/junior-game.png" loading="lazy" alt="1">
        </div>
      </div>
     
    </div>
    <div class="junior-puzzle" *ngIf="className == 'Evolite' ">
      <div class="wrapper-btn">
        <button class="btn" [class.active]="siteActive" (click)="siteDevelopment()">Разработчик сайтов</button>
        <button class="btn" [class.active]="gameActive" (click)="gameDevelopment()">Разработчик игр</button>
      </div>
      <div class="tabs-btn animate__animated animate__zoomInLeft" *ngIf="siteActive == true">
        <div class="wrap-bg">
          <img src="../../../assets/puzzle/tabs.png" loading="lazy" alt="">
        </div>
        <div class="wrap-info">
          <h1>Разработчик сайтов</h1>
        </div>
        <div class="clear"></div>
        <div class="wrap-puzzle">
          <div class="left-puzle">
            <div id="puzle1" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo1.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Evo Web START</h4>
              </div> -->
              <!-- <div class="wrap-head-2">
                <h5>Перемещение в мир веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>На этом курсе ребёнок изучит все нужные 
                  инструменты для веб-разработки. Начиная всё 
                  от простых страниц на HTML&CSS заканчивая 
                  большими и сложными проектами на языке 
                  программирования JavaScript . Также получит 
                  невероятное начало в практике веб-дизайна.                  
                </p>
              </div>

            </div>
            <div id="puzle2" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo2.png" alt="1">
              </div>
              <!-- <div class="text-list">
                <ul>
                  <li> <img src="../../../assets/puzzle/wordpress.png" alt="wp"> <span> Wordpress</span> </li>
                  <li><img src="../../../assets/puzzle/illus.png" alt="wp"> <span> Adobe illustrator </span></li>
                  <li><img src="../../../assets/puzzle/ps.png" alt="wp"> <span> Adobe Photoshop </span></li>
                  <li> <img src="../../../assets/puzzle/cinema.png" alt="wp"> <span> Cinema 4D </span></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="right-puzle">
            <div id="puzle3" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo3.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Evo Web PRO </h4>
              </div> -->
              <!-- <div class="wrap-head-2">
                <h5>Продолжение прохождения мира веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>По окончанию данного курса ученик полностью
                  освоит профессию front-end разработчика , создаст
                  большое портфолио своих работ используя самые 
                  современные и актуальные фреймворки языка
                  программирования JavaScript и получит практические
                  знания в backend создавая серверную часть сайта
                  и  своего личного чат-бота с помощью Node.JS
                </p>
              </div>
            </div>
            <div id="puzle4" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo4.png" alt="1">
              </div>
              <!-- <div class="wrap-level">
                <div class="flex-row">
                  <div class="left-part">
                    <h5>Новый уровень
                      знаний в области
                      веб-разработчика</h5>
                    <div class="wrap-img-row">
                      <img src="../../../assets/puzzle/wordpress.png" alt="wp">
                      <img src="../../../assets/puzzle/illus.png" alt="wp">
                      <img src="../../../assets/puzzle/ps.png" alt="wp">
                      <img src="../../../assets/puzzle/cinema.png" alt="wp">
                    </div>
                  </div>
                  <div class="right-part-p">
                    <ul>
                      <li> <img src="../../../assets/puzzle/icons8-adobe-after-effects-480 (1).png" alt="wp"> <span> Adobe AE</span> </li>
                      <li><img src="../../../assets/puzzle/character-animator.png" alt="wp"> <span> Character Animation </span></li>
                      <li><img src="../../../assets/puzzle/opencart.png" alt="wp"> <span> OpenCart </span></li>
                      <li> <img src="../../../assets/puzzle/icons8-html-5-96.png" alt="wp"> <span> HTML&CSS </span></li>
                    </ul>
                  </div>
                </div>


              </div> -->
            </div>
          </div>
        </div>
        <div class="wrap-portfolio">
          <img src="../../../assets/puzzle/evolight-web.png" loading="lazy" alt="1">
        </div>
      </div>
      <div class="tabs-btn animate__animated animate__zoomInRight" *ngIf="gameActive == true">
        <div class="wrap-bg">
          <img src="../../../assets/puzzle/tabs.png" alt="">
        </div>
        <div class="wrap-info">
          <h1>Разработчик игр</h1>
        </div>
        <div class="clear"></div>
        <div class="wrap-puzzle">
          <div class="left-puzle">
            <div id="puzle1" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo-game1.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Evo Web START</h4>
              </div>
              <div class="wrap-head-2">
                <h5>Перемещение в мир веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>На этом курсе дети начнут использовать язык 
                  программирования С# в разработке игр на 
                  движке Unity . Unity - одна из самых профессиональных
                  сред разработки игр в мире , на которой были созданы
                  такие бестселлеры как: Pokemon go , Rust , Superhot и др .
                  <!-- Ученики могут создать множества качественных 2D игр
                  вклад которые они сделают не только с программной части,
                  а и с 3D моделирований сцен. -->
                </p>
              </div>

            </div>
            <div id="puzle2" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo-game-2.png" alt="1">
              </div>
              <!-- <div class="text-list">
                <ul>
                  <li> <img src="../../../assets/puzzle/wordpress.png" alt="wp"> <span> Wordpress</span> </li>
                  <li><img src="../../../assets/puzzle/illus.png" alt="wp"> <span> Adobe illustrator </span></li>
                  <li><img src="../../../assets/puzzle/ps.png" alt="wp"> <span> Adobe Photoshop </span></li>
                  <li> <img src="../../../assets/puzzle/cinema.png" alt="wp"> <span> Cinema 4D </span></li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="right-puzle">
            <div id="puzle3" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo-game-3.png" alt="1">
              </div>
              <!-- <div class="wrap-head">
                <h4>Evo Web PRO </h4>
              </div>
              <div class="wrap-head-2">
                <h5>Продолжение прохождения мира веб-разработки</h5>
              </div> -->
              <div class="text">
                <p>Ученики смогут получить знания одного из самых
                  продвинутых курсов по разработке игр , на котором они 
                  будут выполнять много проектов на основе искуственного
                  интеллекта и других важных элементов . Смогут прикоснуться
                  ко всем направлениям игростроя , начиная от создания 
                  игровой механники и заканчивая  рекламным продвижением
                  и выпуском продукта на главные интернет-площадки . 
                  <!-- Основная работа будет происходить на движке Unity 3D с
                  совмещением языка программирование C# в Unity .   -->
                </p>
              </div>
            </div>
            <div id="puzle4" class="puzzle">
              <div class="wrap-img">
                <img src="../../../assets/puzzle/evo-game-4.png" alt="1">
              </div>
              <!-- <div class="wrap-level">
                <div class="flex-row">
                  <div class="left-part">
                    <h5>Новый уровень
                      знаний в области
                      веб-разработчика</h5>
                    <div class="wrap-img-row">
                      <img src="../../../assets/puzzle/wordpress.png" alt="wp">
                      <img src="../../../assets/puzzle/illus.png" alt="wp">
                      <img src="../../../assets/puzzle/ps.png" alt="wp">
                      <img src="../../../assets/puzzle/cinema.png" alt="wp">
                    </div>
                  </div>
                  <div class="right-part-p">
                    <ul>
                      <li> <img src="../../../assets/puzzle/icons8-adobe-after-effects-480 (1).png" alt="wp"> <span> Adobe AE</span> </li>
                      <li><img src="../../../assets/puzzle/character-animator.png" alt="wp"> <span> Character Animation </span></li>
                      <li><img src="../../../assets/puzzle/opencart.png" alt="wp"> <span> OpenCart </span></li>
                      <li> <img src="../../../assets/puzzle/icons8-html-5-96.png" alt="wp"> <span> HTML&CSS </span></li>
                    </ul>
                  </div>
                </div>


              </div> -->
            </div>
          </div>
        </div>
        <div class="wrap-portfolio">
          <img src="../../../assets/puzzle/evolight-game.png" loading="lazy" alt="1">
        </div>
      </div>

    </div>
    <ul #tabs class="collapsible popout">
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">image</i>Photoshop
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Работать с масками и слоями </p>
            </li>
            <li class="collection-item">
              <p>2. Делать ретушь и цветокоррекцию</p>
            </li>
            <li class="collection-item">
              <p>3. Рисовать дизайн-макеты</p>
            </li>
            <li class="collection-item">
              <p>4. Использовать кисти на профессиональном уровне</p>
            </li>
            <li class="collection-item">
              <p>5. Работать с текстом и шрифтами</p>
            </li>
            <li class="collection-item">
              <p>6. Работать с различными эффектами и фильтрами </p>
            </li>
          </ol>
        </div>
      </li>
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">format_color_fill</i>IllUSTRATOR
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Настройка рабочей среды, инструменты </p>
            </li>
            <li class="collection-item">
              <p>2. Работа с точками и кривыми </p>
            </li>
            <li class="collection-item">
              <p>3. Работа с контурами </p>
            </li>
            <li class="collection-item">
              <p>4. Работа со шрифтами</p>
            </li>
            <li class="collection-item">
              <p>5. Сетки</p>
            </li>
            <li class="collection-item">
              <p>6. Сложная графика </p>
            </li>
          </ol>
        </div>
      </li>
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">computer</i>HTML, CSS
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Введение </p>
            </li>
            <li class="collection-item">
              <p>2. Работа с изображением , таблицами , списками </p>
            </li>
            <li class="collection-item">
              <p>3. Каскадные таблицы стилей </p>
            </li>
            <li class="collection-item">
              <p>4. Позиционирование элементов</p>
            </li>
            <li class="collection-item">
              <p>5. Формы </p>
            </li>
            <li class="collection-item">
              <p>6. Адаптивная верстка сайтов</p>
            </li>
          </ol>
        </div>
      </li>
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">developer_mode</i> JavaScript
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Переменные и строгий режим </p>
            </li>
            <li class="collection-item">
              <p>2. Классификация типов данных в JavaScript </p>
            </li>
            <li class="collection-item">
              <p>3. Простое общение с пользователем </p>
            </li>
            <li class="collection-item">
              <p>4. Интерполяция (ES6)</p>
            </li>
            <li class="collection-item">
              <p>5. Операторы в JS </p>
            </li>
            <li class="collection-item">
              <p>6. Условия, циклы</p>
            </li>
            <li class="collection-item">
              <p>7. Функции, стрелочные ф-ции </p>
            </li>
            <li class="collection-item">
              <p>8. Методы и свойства строк и чисел </p>
            </li>
            <li class="collection-item">
              <p>9. Callback- функции </p>
            </li>
            <li class="collection-item">
              <p>10. Массивы и псевдомассивы </p>
            </li>
            <li class="collection-item">
              <p>11. Передача по ссылке или по значению, Spread оператор</p>
            </li>
            <li class="collection-item">
              <p>12. Основы ООП, прототипно-ориентированное наследование </p>
            </li>
            <li class="collection-item">
              <p>13. Получение элементов со страницы </p>
            </li>
            <li class="collection-item">
              <p>14. Действия с элементами на странице </p>
            </li>
            <li class="collection-item">
              <p>15. События и их обработчики </p>
            </li>
            <li class="collection-item">
              <p>16. Навигация по DOM - элементам, data-атрибуты, преимущество for/of </p>
            </li>
          </ol>
        </div>
      </li>
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">ondemand_video</i>After Effects
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Слои </p>
            </li>
            <li class="collection-item">
              <p>2. Композинг </p>
            </li>
            <li class="collection-item">
              <p>3. Текст </p>
            </li>
            <li class="collection-item">
              <p>4. Шейпы </p>
            </li>
            <li class="collection-item">
              <p>5. Футажи </p>
            </li>
            <li class="collection-item">
              <p>6. Искажения </p>
            </li>
            <li class="collection-item">
              <p>7. Трекинг и стабилизация видео </p>
            </li>
            <li class="collection-item">
              <p>8. 3D-сцены </p>
            </li>
            <li class="collection-item">
              <p>9. Обзор плагинов </p>
            </li>
            <li class="collection-item">
              <p>10. Шейповая анимация </p>
            </li>
            <li class="collection-item">
              <p>11. Работа с параметрами текста </p>
            </li>
          </ol>
        </div>
      </li>
      <li *ngIf="className == 'Individual'">
        <div class="collapsible-header">
          <h3><i class="material-icons">3d_rotation</i>Cinema 4d
            <div class="wrap-control right">
              <i class="material-icons right up">expand_more</i>
            </div>
          </h3>
        </div>
        <div class="collapsible-body">
          <ol class="collection">
            <li class="collection-item">
              <p>1. Основы и интерфейс в Cinema 4d</p>
            </li>
            <li class="collection-item">
              <p>2. Моделирование </p>
            </li>
            <li class="collection-item">
              <p>3. Деформеры</p>
            </li>
            <li class="collection-item">
              <p>4. Анимация</p>
            </li>
            <li class="collection-item">
              <p>5. MoGraph</p>
            </li>
            <li class="collection-item">
              <p>6. Материалы</p>
            </li>
            <li class="collection-item">
              <p>7. Рендер и визуализация </p>
            </li>
            <li class="collection-item">
              <p>8. Динамика </p>
            </li>
            <li class="collection-item">
              <p>9. Симуляция</p>
            </li>
          </ol>
        </div>
      </li>
    </ul>
  </div>
  <div class="wrap-lesson">
    <div class="les info" *ngIf="positions$ |async as positions;">
      <h4> Стоимость обучения </h4>
      <div class="wrap-price">
        <img id="baks" src="../../../assets/block1/baks.png" loading="lazy" alt="baks">
        <h4 *ngIf="positions.name == 'Evolite'">99 грн. за урок</h4>
        <h4 *ngIf="positions.name == 'Junior'">99 грн. за урок </h4>
        <h4 *ngIf="positions.name == 'Seniors'">{{(positions.cost)/10}} грн в час </h4>
        <h4 *ngIf="positions.name == 'Individual'">150 грн в час </h4>
        <h4>2 урока в неделю
          <span *ngIf="positions.name == 'Evolite'">
            по 1 часу
          </span>
          <span *ngIf="positions.name == 'Junior'">
            по 1 часу
          </span>
          <span *ngIf="positions.name == 'Seniors'">
            по 1 часу
          </span>
          <span *ngIf="positions.name == 'Individual'">
            по 2 часа
          </span>
        </h4>
        <h5>полный месячный абонемент {{positions.cost}} грн</h5>
      </div>
    </div>
    <div class="les form">
      <h4 class="mb1">Записаться на курс или получить бесплатную консультацию</h4>
      <form [formGroup]="formConsult" (ngSubmit)="submitConsult()" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input formControlName="name" id="icon_prefix" type="text"
              [ngClass]="{'invalid':formConsult.get('name').invalid && formConsult.get('name').touched}">
            <label for="icon_prefix">Имя</label>
            <span class="helper-text red-text"
              *ngIf="formConsult.get('name').invalid && formConsult.get('name').touched">
              <span *ngIf="formConsult.get('name').errors['required']">Имя не может быть пустым</span>
            </span>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input formControlName="tel" id="icon_telephone" type="tel"
              [ngClass]="{'invalid':formConsult.get('tel').invalid && formConsult.get('tel').touched}">
            <label for="icon_telephone">Номер телефона</label>
            <span class="helper-text red-text" *ngIf="formConsult.get('tel').invalid && formConsult.get('tel').touched">
              <span *ngIf="formConsult.get('tel').errors['required']">Телефончик не может быть пустым</span>
              <span *ngIf="formConsult.get('tel').errors['pattern']">Телефончик то с циферок состоит</span>
            </span>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input formControlName="email" id="icon_email" type="email"
              [ngClass]="{'invalid':formConsult.get('email').invalid && formConsult.get('email').touched}">
            <label for="icon_email">Еmail</label>
            <span class="helper-text red-text"
              *ngIf="formConsult.get('email').invalid && formConsult.get('email').touched">
              <span *ngIf="formConsult.get('email').errors['required']">Email не может быть пустым</span>
              <span *ngIf="formConsult.get('email').errors['email']">Email не коректный</span>
            </span>
          </div>
        </div>
        <button type="submit" class="modal-action btn waves-effect"
          [disabled]="formConsult.invalid || formConsult.disabled">Записаться</button>
      </form>
    </div>
  </div>
  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Адреса филиалов, и контакты</h5>
          <ul>
            <li><a class="grey-text text-lighten-3"> г.Харьков, улица 23-го августа, 36А.</a></li>
            <li><a class="grey-text text-lighten-3">+380 66 38 38 123</a></li>
            <li><a class="grey-text text-lighten-3">+380 68 38 38 123</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="center">©2021 IT-START Школа компъютерных технологий</p>
      </div>
    </div>
  </footer>

</div>

<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Ваши данные</h4>
    <form [formGroup]="form" (ngSubmit)="submit()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input formControlName="name" id="icon_prefix" type="text"
            [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}">
          <label for="icon_prefix">Имя</label>
          <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
            <span *ngIf="form.get('name').errors['required']">Имя не может быть пустым</span>
          </span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input formControlName="tel" id="icon_telephone" type="tel"
            [ngClass]="{'invalid':form.get('tel').invalid && form.get('tel').touched}">
          <label for="icon_telephone">Номер телефона</label>
          <span class="helper-text red-text" *ngIf="form.get('tel').invalid && form.get('tel').touched">
            <span *ngIf="form.get('tel').errors['required']">Телефончик не может быть пустым</span>
            <span *ngIf="form.get('tel').errors['pattern']">Телефончик то с циферок состоит</span>
          </span>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input formControlName="email" id="icon_email" type="email"
            [ngClass]="{'invalid':form.get('email').invalid && form.get('email').touched}">
          <label for="icon_email">Еmail</label>
          <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email').errors['required']">Email не может быть пустым</span>
            <span *ngIf="form.get('email').errors['email']">Email не коректный</span>
          </span>
        </div>
      </div>
      <button type="submit" class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled">Подтвердить</button>
    </form>
  </div>
</div>