/* .container{
  width: calc(320px + (1920 - 320)*((100vw - 320px)/(1920 - 320))) !important;
  margin:  0 auto;
  padding: calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320))) !important;
 } */
 footer p a{
   color: #fff;
 }
 .row{
  display: block ;
}
h3,h1,h2{
  margin-top: 20px;
}
.footer-copyright p{
  margin: 0;
}
ul li a:hover{
  background: none;
  text-decoration: none;
  transform: scale(0.95);
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .wrap-bg{
    display: none;
  }
  #course .wrap-puzzle{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  #course .wrap-puzzle .left-puzle{
    margin-bottom: 20px;
  }
  #course .wrapper-btn{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #course .wrapper-btn .btn{
    width: 83%;
    font-size: 20px;
  }
  #course .wrap-puzzle{
    top:35px
  }
  #course .tabs-btn .wrap-info {
    background: #B5F7B8;
    border-radius: 25px;
    width: 83%;
    float: none !important;
    clear: both;
    margin: 0 auto !important;
}
  #course  .wrap-prog h1{line-height: 45px;
    font-size: 30px !important;}

  #course .wrap-puzzle .left-puzle{
    width: 80%;
  }
  #course .wrap-puzzle .right-puzle{
    width: 80%;
  }
  #course .wrap-puzzle .text p {
    font-size: 15px;
    line-height: 15px;
    max-width: 265px;
  }
  #course .wrap-puzzle .text {
    top:120px;
  }
  #course  #puzle1 .wrap-head-2{
    top: calc(70px + (110 - 70)*((100vw - 320px)/(1920 - 320)));
  }
  #course  #puzle2 .text-list ul li span{
    font-size: 20px;
  }
  #course  #puzle2 .text-list{
    top:70px
  }
  #course  #puzle2 .text-list ul li img{
    width: 30px;
    height: 30px;
  }
  #course #puzle3 .wrap-head-2{
    top:70px;
  }
  #course #puzle4 .wrap-level{
    top:40px;
    
  }
  #course #puzle4 .wrap-level h5{
    font-size: 20px;
  }
  #course #puzle4 .wrap-level  .left-part  img {
   width: 25px;
   height: 25px;
  }
  #course .container .wrap-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  #course #positions i{
    line-height: 26px;
  }
  #course #logo{
    display: none !important;
  }
  #course #positions{
    top:8px;
  }
  #course .container .wrap-content .left-part{
   width: 100% !important;
   margin-top: 80px !important;
  }
  #course .container .wrap-content .right-part{
    width: 100% !important;
   }
  #course .container .wrap-content .left-part img{
    margin: 0 auto !important;
    display: block !important;
   }
   #course h1{
    font-size: calc(30px + (150 - 30)*((100vw - 320px)/(1920 - 320))) !important;
     text-shadow: 0px calc(5px + (15 - 5)*((100vw - 320px)/(1920 - 320))) 4px rgb(0 0 0 / 49%) !important;
   }
   #course .right-part .btn-add{
     height: 45px !important;
    width: calc(230px + (380 - 230)*((100vw - 320px)/(1920 - 320))) !important;
   }
   .flex-row{
     margin-top: 50px;
   }
   .flex-row-img{
     justify-content: center !important;
     margin-top: 20px !important;
   }
   #course  .wrap-portfolio img{
     width: 80%;
     display: block;
     margin: 0 auto;
     border-radius: 10px;
   }
   #course #ss{
  
    top: calc(-25px + (0 - 30)*((100vw - 320px)/(1920 - 320))) !important;
    left: calc(165px + (380 - 150)*((100vw - 320px)/(1920 - 320))) !important;
  }
  #course #center-img{
    width: calc(150px + (408 - 150)*((100vw - 320px)/(1920 - 320))) !important;

  }
 }
 #puzle1{
  margin-bottom: -35px;
}
#puzle3{
  margin-bottom: -35px;
}
 .up{
   display: inline-block;
   float: right;
   font-size: 30px !important;
   line-height: 20px !important;
 }
 .popout li i{
  transition: all 0.5s;
 }
 .popout li.active .up{
 
  transform: rotateZ(-180deg);
 }
 .wrap-puzzle *{
  font-family: 'Conv_Akrobat-Regular';
 }
.wrap-puzzle{
   display: flex;
   justify-content: space-around;
   position: relative;
   z-index: 5;
   top:100px;
   margin-bottom: 330px;
}
.wrap-puzzle .left-puzle{
  width: 33%;
  max-width: 430px;
}
.wrap-puzzle .right-puzle{
  width: 33%;
}
#puzle3 p,#puzle1 p{
max-width: 355px;
}
.right-part-p ul li span{
  position: relative;
  font-size: 20px;
  font-weight: bold;
  top:-5px;
}
.wrap-head{
  position: absolute;
  top: calc(25px + (25 - 0)*((100vw - 320px)/(1920 - 320))) !important;
  left: 85px;
}
#puzle2 .text-list ul li img{
width: 45px;
height: 45px;
}
#puzle2 .text-list ul li{
  font-size: 45px;
  line-height: 45px;
}
#puzle2 .text-list ul li span{
  position: relative;
  top:-8px
}
#puzle2 .text-list{
  position: absolute;
  top:158px;
  left: 10px;
}
#puzle4 .wrap-level .left-part img{
  width: 45px;
  height: 45px;
}
#puzle4 .wrap-level .left-part h5{
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-top: -10px;
}

#puzle4 .flex-row{
  display: flex;
  justify-content:space-between;
}
#puzle4 .flex-row .left-part{
  width: 49%
}
#puzle4 .flex-row .right-part-p{
  width: 43%
}
#puzle4 .flex-row .right-part-p ul li img{
  width: 25px;
  height: 25px;
}
#puzle4 .wrap-level{
  position: absolute;
  top:146px;
  width: 100%;
}
#puzle4 .wrap-img-row{
  position: relative;
  left: 15px;
}
.wrap-head h4{
  font-size: calc(20px + (37 - 20)*((100vw - 320px)/(1920 - 320))) ;
  font-weight: bold;
  margin: 0;
}
.wrap-head-2 h5{
  font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320))) ;
  text-align: right;
  font-weight: bold;
}
.wrap-head-2{
  position: absolute;
  top: calc(50px + (50 - 0)*((100vw - 320px)/(1920 - 320)));
  width: 100%;
  right: 15px;
}
.junior-puzzle .btn{
background: #3c9b37;
height: 75px;
border-bottom: 5px solid #387535;
border-radius: 10px;
margin-bottom: 10px;
font-size:25px;
transition: all 0.3s;
width: 50%;
}

.junior-puzzle .btn.active{
background: #ddec03;
border-bottom: 3px solid #b6c214;
transform: scale(0.95);
color: #333;
}

.wrapper-btn{
width: 100%;
display: flex;
justify-content: space-between;
flex-direction: row;
}

.wrap-puzzle .text{
  position: absolute;
  top: calc(85px + (175 - 85)*((100vw - 320px)/(1920 - 320)));
  left: 25px;
  z-index: 55;
  font-size: 17px;
  line-height: 22px;
}
.tabs-btn{
  margin-top: 50px;
}
.wrap-portfolio img{
  width: 100%;
}
#course .tabs-btn .wrap-info{
  background: #B5F7B8;
  border-radius: 25px;
  width: 78%;
  float: right;
  clear: both   ;
}
#course .tabs-btn .wrap-info h1{
  font-size: calc(20px + (70 - 20)*((100vw - 320px)/(1920 - 320)));
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  text-shadow: 0 0 black;
}
.clear{
  clear: both;
}
#puzle1 .wrap-head-2{
width: 100%;
text-align: center;
  top: calc(80px + (110 - 80)*((100vw - 320px)/(1920 - 320)));
}
#puzle3 .wrap-head-2{
  top: calc(80px + (110 - 80)*((100vw - 320px)/(1920 - 320)));
  left:8px
}
#puzle3 .wrap-head{
  left:117px
}
#puzle3 .wrap-head-2 h5{
text-align: center;
}
.wrap-head-2{
  position: absolute;
  top:0
}
.wrap-puzzle .wrap-img{
  position: relative;
}
.wrap-puzzle .wrap-img img{
  width: calc(300px + (450 - 300)*((100vw - 320px)/(1920 - 320))) ;
}
.puzzle{
  position: relative;
  
}
.tabs-btn .wrap-bg{
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
}
.tabs-btn .wrap-bg img{
 width: 100%;
}
.junior-puzzle{
  position: relative;
}
nav #logo i{
   line-height: 42px;
}
 nav #logo{
  font-family: 'Conv_Blogger Sans';
  font-weight: normal;
   font-size: calc(15px + (25 - 15)*((100vw - 320px)/(1920 - 320)));
   color: #000;
 }
 .nav-wrapper ul a{
   font-size: calc(15px + (30 - 15)*((100vw - 320px)/(1920 - 320)));;
 }
.flex-row-img-2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320))) auto 0 auto;
}
.les{
  background: #fff;
  width: calc(300px + (600 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: 25px;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(93, 93, 93);
  text-align: center;
}
.wrap-prog{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.collapsible-header i{
  font-size: calc(13px + (20 - 13)*((100vw - 320px)/(1920 - 320)));
}
.wrap-prog h3{
  font-size: calc(15px + (30 - 15)*((100vw - 320px)/(1920 - 320)));
  line-height: 0;
  margin: 0;
}
#course .wrap-prog h1{
  margin-bottom: 60px;
  font-size: calc(20px + (60 - 20)*((100vw - 320px)/(1920 - 320)));
}
.wrap-lesson{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320))) auto 0 auto;
}
.block{
  width: calc(300px + (382 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: calc(1px + (20 - 1)*((100vw - 320px)/(1920 - 320)));;
}
.block img{
  width: calc(300px + (382 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: 0 auto;
  display: block;
}
#course .wrap-evo h1{
  font-size: calc(20px + (100 - 20)*((100vw - 320px)/(1920 - 320)));
  line-height: 40px;
  text-shadow: 0px calc(5px + (14 - 5)*((100vw - 320px)/(1920 - 320))) 4px rgb(0 0 0 / 49%);
}
.block .wrap-text{
  text-align: center;
}
.block .wrap-text p{
  font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320)));

}
.collapsible-header{
  /* justify-content: center; */
  
}
.collapsible-body{
  padding: 0;
  /* text-align: center; */
  font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320)));
  font-weight: bold;
}
.collapsible-body ol li{
  padding:15PX 35PX 15PX 35PX ;
}

.block .wrap-text h3{
  font-size: calc(20px + (30 - 20)*((100vw - 320px)/(1920 - 320)));
  font-weight: bold;
}
#course.Junior
{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%, rgb(169 223 199) 36.7%, #4caf50 67.99%);    
}
#course.Evolite
{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,rgb(210 223 169) 36.7%, rgb(206 241 6) 67.99%);
        
}
#course.Seniors{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,#67928e 36.7%, #26a69a 67.99%);
}

#course.Individual{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,#dac61b 36.7%, #e4860b 67.99%);
}
#course {
  height: auto;
}
#course h1{
  font-family: 'Conv_evo_1';
  letter-spacing: 5px;  
 
  text-shadow: 0px 14px 4px rgb(0 0 0 / 49%);
}
.wrap-price h4{
font-size: calc(20px + (30 - 20)*((100vw - 320px)/(1920 - 320)));
font-weight: bold;
text-align: center;
}
.wrap-price h5{
  font-size: 15px;
  text-align: center;
}
#baks{
  width: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320)));
  height: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320)));
  display: block;
  margin: 0 auto;
}
#course #comp{
  width: calc(200px + (740 - 200)*((100vw - 320px)/(1920 - 320)));
  max-width: 740px;
  position: relative;
  left: -10px;
}
#course .container .left-part{
  width: 50%;
  margin-top: 8%;
}

/* #nav-mobile{
  margin: 0 auto;
  width: calc(220px + (350 - 220)*((100vw - 320px)/(1920 - 320)));
} */
#nav-mobile{
  line-height: 40px;
  height: 40px;
}
#nav-mobile li a{
  font-family: 'Conv_Blogger Sans';
  color: #333;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#course .right-part{
  width: 50%;
  text-align: center;
  position: relative;
  top: calc(5px + (250 - 5)*((100vw - 320px)/(1920 - 320)));
}
#course .container .wrap-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-footer .col{
  text-align: center;
}
#course .right-part h1{
  font-size: calc(23px + (150 - 23)*((100vw - 320px)/(1920 - 320)));
  margin-top: 0;
  color: #3c9b37;
  margin-bottom: calc(20px + (50 - 20)*((100vw - 320px)/(1920 - 320)));
  -webkit-text-stroke:  calc(1px + (4 - 1)*((100vw - 320px)/(1920 - 320))) #000;
}
#course .right-part .btn-add{
    width: calc(100px + (380 - 100)*((100vw - 320px)/(1920 - 320)));
    max-width: 380px;
    padding: calc(5px + (25 - 5)*((100vw - 320px)/(1920 - 320))) ;
    height:auto;
    border: 4px solid #000;
    background:#3c9b37;
    color: #fff;
    font-size: calc(13px + (23 - 13)*((100vw - 320px)/(1920 - 320)));
    border-radius: 12px;
    cursor: pointer;
}
.right-part h3{
  font-size: calc(15px + (45 - 15)*((100vw - 320px)/(1920 - 320)));
}
.flex-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
}
.flex-row-img .text-block img{
  max-width: 400px;
}

.flex-row-img{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: 100px auto 0 auto;
}
.search{
  background: #ebebeb;
  max-width: 550px;
  width:calc(250px + (550 - 250)*((100vw - 320px)/(1920 - 320)));
  border-radius:30px;
  padding:calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320)));
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
  font-size: calc(20px + (55 - 20)*((100vw - 320px)/(1920 - 320)));
  position: relative;
}
#il{
  width: calc(150px + (433 - 150)*((100vw - 320px)/(1920 - 320)));;
}
#ps{
  width: calc(150px + (433 - 150)*((100vw - 320px)/(1920 - 320)));
}

#course #ss{
  position: absolute;
  top: calc(-30px + (0 - 30)*((100vw - 320px)/(1920 - 320)));
  width: calc(80px + (196 - 80)*((100vw - 320px)/(1920 - 320)));
  right: 0;
  left: calc(150px + (380 - 150)*((100vw - 320px)/(1920 - 320)));
}
#course #left-img{
  width: calc(40px + (195 - 40)*((100vw - 320px)/(1920 - 320)));
  position: absolute;
  top: calc(-20px + (-300 - 20)*((100vw - 320px)/(1920 - 320)));
}
#course #center-img{
  max-width: 408px;
  width: calc(100px + (408 - 100)*((100vw - 320px)/(1920 - 320)));
  margin: 0 auto;
  display: block;
}
.flex-row .text-block{
  width: 25%;
  text-align: center;
}
strong {
  font-weight: bold;
}

.flex-row .text-block p{
  font-size: calc(13px + (23 - 13)*((100vw - 320px)/(1920 - 320)));
}
.text-block{
  /* margin-bottom: 35px; */
  position: relative;
}
#positions i{
  line-height: 43px;
}
  #positions{
    position: fixed;
    top: 0px;
    left: 30px;
    opacity: 0.5;
    transition: 0.5s;
    transform: rotateZ(90deg);
  }
  #positions:hover{
    opacity: 1;
  }

.nav-wrapper{
  width: 90%;
}
#course .hide-on-med-and-down{
  display: block !important;
}