/* .container{
  width: calc(320px + (1920 - 320)*((100vw - 320px)/(1920 - 320))) !important;
  margin:  0 auto;
  padding: calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320))) !important;
 } */
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  #course .container .wrap-content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  #course #logo{
    display: none !important;
  }
  #course #positions{
    top:17px;
  }
  #course .container .wrap-content .left-part{
   width: 100% !important;
   margin-top: 80px !important;
  }
  #course .container .wrap-content .right-part{
    width: 100% !important;
   }
  #course .container .wrap-content .left-part img{
    margin: 0 auto !important;
    display: block !important;
   }
   #course h1{
    font-size: calc(30px + (150 - 30)*((100vw - 320px)/(1920 - 320))) !important;
     text-shadow: 0px calc(5px + (15 - 5)*((100vw - 320px)/(1920 - 320))) 4px rgb(0 0 0 / 49%) !important;
   }
   #course .right-part .btn-add{
     height: 45px !important;
    width: calc(230px + (380 - 230)*((100vw - 320px)/(1920 - 320))) !important;
   }
   .flex-row{
     margin-top: 50px;
   }
   .flex-row-img{
     justify-content: center !important;
     margin-top: 20px !important;
   }
   #course #ss{
  
    top: calc(-25px + (0 - 30)*((100vw - 320px)/(1920 - 320))) !important;
    left: calc(165px + (380 - 150)*((100vw - 320px)/(1920 - 320))) !important;
  }
  #course #center-img{

    width: calc(150px + (408 - 150)*((100vw - 320px)/(1920 - 320))) !important;

  }
 }
nav{
   position: fixed;
   z-index: 9999;
 }
 .nav-wrapper ul a{
   font-size: calc(15px + (30 - 15)*((100vw - 320px)/(1920 - 320)));;
 }
.flex-row-img-2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320))) auto 0 auto;
}
.les{
  background: #fff;
  width: calc(300px + (600 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: 30px;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(93, 93, 93);
  text-align: center;
}
.wrap-prog{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.collapsible-header i{
  font-size: calc(13px + (20 - 13)*((100vw - 320px)/(1920 - 320)));
}
.wrap-prog h3{
  font-size: calc(15px + (30 - 15)*((100vw - 320px)/(1920 - 320)));
  line-height: 0;
  margin: 0;
}
#course .wrap-prog h1{
  margin-bottom: 60px;
  font-size: calc(20px + (100 - 20)*((100vw - 320px)/(1920 - 320)));
}
.wrap-lesson{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320))) auto 0 auto;
}
.block{
  width: calc(300px + (382 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: calc(1px + (33 - 1)*((100vw - 320px)/(1920 - 320)));;
}
.block img{
  width: calc(300px + (382 - 300)*((100vw - 320px)/(1920 - 320)));
  margin: 0 auto;
  display: block;
}
#course .wrap-evo h1{
  font-size: calc(20px + (100 - 20)*((100vw - 320px)/(1920 - 320)));
  line-height: 40px;
  text-shadow: 0px calc(5px + (14 - 5)*((100vw - 320px)/(1920 - 320))) 4px rgb(0 0 0 / 49%);
}
.block .wrap-text{
  text-align: center;
}
.block .wrap-text p{
  font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320)));

}
.collapsible-header{
  /* justify-content: center; */
  
}
.collapsible-body{
  padding: 0;
  /* text-align: center; */
  font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1920 - 320)));
  font-weight: bold;
}
.collapsible-body ol li{
  padding:15PX 35PX 15PX 35PX ;
}

.block .wrap-text h3{
  font-size: calc(20px + (35 - 20)*((100vw - 320px)/(1920 - 320)));
  font-weight: bold;
}
#course.Junior
{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%, rgb(169 223 199) 36.7%, #4caf50 67.99%);    
}
#course.Evolution
{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,rgb(210 223 169) 36.7%, rgb(206 241 6) 67.99%);
        
}
#course.Seniors{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,#67928e 36.7%, #26a69a 67.99%);
}

#course.Individual{
  font-family: 'Conv_Blogger Sans';
  width: 100vw;
  background: linear-gradient(0deg,rgb(225 234 230) 1.51%,#dac61b 36.7%, #e4860b 67.99%);
}
#course {
  height: auto;
}
#course h1{
  font-family: 'Conv_evo_1';
  letter-spacing: 5px;  
 
  text-shadow: 0px 14px 4px rgb(0 0 0 / 49%);
}
.wrap-price h4{
font-size: calc(20px + (30 - 20)*((100vw - 320px)/(1920 - 320)));
font-weight: bold;
text-align: center;
}
.wrap-price h5{
  font-size: 15px;
  text-align: center;
}
#baks{
  width: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320)));
  height: calc(50px + (100 - 50)*((100vw - 320px)/(1920 - 320)));
  display: block;
  margin: 0 auto;
}
#course #comp{
  width: calc(200px + (740 - 200)*((100vw - 320px)/(1920 - 320)));
  max-width: 740px;
  position: relative;
  left: -10px;
}
#course .container .left-part{
  width: 50%;
  margin-top: 3%;
}
#course .right-part{
  width: 50%;
  text-align: center;
  position: relative;
  top: calc(5px + (250 - 5)*((100vw - 320px)/(1920 - 320)));
}
#course .container .wrap-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#course .right-part h1{
  font-size: calc(23px + (150 - 23)*((100vw - 320px)/(1920 - 320)));
  margin-top: 0;
  color: #3c9b37;
  margin-bottom: calc(20px + (50 - 20)*((100vw - 320px)/(1920 - 320)));
  -webkit-text-stroke:  calc(1px + (4 - 1)*((100vw - 320px)/(1920 - 320))) #000;
}
#course .right-part .btn-add{
    width: calc(100px + (380 - 100)*((100vw - 320px)/(1920 - 320)));
    max-width: 380px;
    padding: calc(5px + (25 - 5)*((100vw - 320px)/(1920 - 320))) ;
    height:auto;
    border: 4px solid #000;
    background:#3c9b37;
    color: #fff;
    font-size: calc(13px + (23 - 13)*((100vw - 320px)/(1920 - 320)));
    border-radius: 12px;
    cursor: pointer;
}
.right-part h3{
  font-size: calc(15px + (45 - 15)*((100vw - 320px)/(1920 - 320)));
}
.flex-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
}
.flex-row-img .text-block img{
  max-width: 400px;
}

.flex-row-img{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  /* top:-50px */
  width: 100%;
  max-width: 1300px;
  margin: 100px auto 0 auto;
}
.search{
  background: #ebebeb;
  max-width: 550px;
  width:calc(250px + (550 - 250)*((100vw - 320px)/(1920 - 320)));
  border-radius:30px;
  padding:calc(10px + (30 - 10)*((100vw - 320px)/(1920 - 320)));
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
  font-size: calc(20px + (55 - 20)*((100vw - 320px)/(1920 - 320)));
  position: relative;
}
#il{
  width: calc(150px + (433 - 150)*((100vw - 320px)/(1920 - 320)));;
}
#ps{
  width: calc(150px + (433 - 150)*((100vw - 320px)/(1920 - 320)));
}

#course #ss{
  position: absolute;
  top: calc(-30px + (0 - 30)*((100vw - 320px)/(1920 - 320)));
  width: calc(80px + (196 - 80)*((100vw - 320px)/(1920 - 320)));
  right: 0;
  left: calc(150px + (380 - 150)*((100vw - 320px)/(1920 - 320)));
}
#course #left-img{
  width: calc(40px + (195 - 40)*((100vw - 320px)/(1920 - 320)));
  position: absolute;
  top: calc(-20px + (-300 - 20)*((100vw - 320px)/(1920 - 320)));
}
#course #center-img{
  max-width: 408px;
  width: calc(100px + (408 - 100)*((100vw - 320px)/(1920 - 320)));
  margin: 0 auto;
  display: block;
}
.flex-row .text-block{
  width: 25%;
  text-align: center;
}
strong {
  font-weight: bold;
}

.flex-row .text-block p{
  font-size: calc(13px + (23 - 13)*((100vw - 320px)/(1920 - 320)));
}
.text-block{
  /* margin-bottom: 35px; */
  position: relative;
}

  #positions{
    position: absolute;
    top: 3px;
    left: 0px;
    opacity: 0.5;
    transition: 0.5s;
    transform: rotateZ(90deg);
  }
  #positions:hover{
    opacity: 1;
  }
nav{
  background: #eeea6e;
}
.nav-wrapper{
  width: 90%;
}
#course .hide-on-med-and-down{
  display: block !important;
}