.collection a{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}
.row{
    display: block;
    margin: 0;
}